<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content='Dashboard on JobLana Platform to get in front of 500+ recruiters across the globe.'>
    <% include ../../partials/post_head %>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/post_header %>
    <!-- NAVIGATION BAR END -->

    <div class="row" style="height:50px;"></div>
        <p> Your will get admin cards through email also.</p>
        <!-- <form ref='uploadForm' id='uploadForm' action='/user/resume-upload' method='post' encType="multipart/form-data">
            <input type="file" name="sampleFile" />
            <input type='submit' value='Upload!' />
        </form> -->
    </div>
    
    <!-- FOOTER START -->
    <% include ../../partials/pre_footer %>
    <!-- FOOTER END -->
</body>
</html>