<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content='Dashboard on JobLana Platform to get in front of 500+ recruiters across the globe.'>
    <% include ../../partials/post_head %>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    


    <!-- NAVIGATION BAR START -->
    <% include ../../partials/post_header %>
    <!-- NAVIGATION BAR END -->

    <div class="row" style="height:50px;"></div>
    <div id="userprofile" class="row no-padd">

    </div>

    <div class="row grey lighten-2">
        <div class="col s12 grey lighten-2" style="height:50px;"></div>
        <div class="col s8 offset-s2 card" style="border-radius:5px;">
            <div id="resumebox" class="col s10 offset-s1">
                <br>
                <br>
                <h4>
                    <b>lorem epsum</b>
                </h4>
                <div class="ui label blue-text blue">loremepsum@gmailcom</div>
                <div>+91 1234567890</div>
                <div>Delhi, Delhi</div>
                <br>
                <div class="divider"></div>
                <br>
                <div class="col s12 no-padd">
                    <div class="col s3">
                        <b style="font-size:1.5em">EDUCATION</b>
                    </div>
                    <div class="col s9">
                        <div>DIPLOMA</div>
                        <div>Lorem, ipsum dolor.</div>
                        <div>DELHI</div>
                        <div>99.99%</div>
                        <br>
                        <div>
                            <a data-html2canvas-ignore id="r1" style="font-family: sans-serif;" href="/makecv/12345">Add More+</a>
                        </div>
                    </div>
                </div>
                <div>

                </div>
                <div class="col s12 no-padd">
                    <div class="divider"></div>
                    <br>
                    <div class="col s3">
                        <b style="font-size:1.5em">JOBS</b>
                    </div>
                    <div class="col s9">
                        <div class="col s12 no-padd">
                            <div>Demo worker</div>
                            <div>Lorem comany name</div>
                            <div>Duration</div>
                            <div>WORK Lorem ipsum dolor sit amet.</div>
                            <br>
                        </div>
                        <div class="col s12 no-padd">
                            <div>Demo worker</div>
                            <div>Lorem comany name</div>
                            <div>Duration</div>
                            <div>WORK Lorem ipsum dolor sit amet.</div>
                            <br>
                        </div>

                        <div class="col s12 no-padd">
                            <a data-html2canvas-ignore id="r2" style="font-family: sans-serif;" href="/makecv/12345">Add More+</a>

                        </div>
                    </div>
                </div>
                <div class="col s12 no-padd">

                    <div class="divider"></div>
                    <br>
                    <div class="col s3">
                        <b style="font-size:1.5em">INTERNSHIPS</b>
                    </div>
                    <div class="col s9">
                        <div class="col s12 no-padd">
                            <div>Demo worker</div>
                            <div>Lorem comany name</div>
                            <div>Duration</div>
                            <div>WORK Lorem ipsum dolor sit amet.</div>
                            <br>
                        </div>
                        <div class="col s12 no-padd">
                            <div>Demo worker</div>
                            <div>Lorem comany name</div>
                            <div>Duration</div>
                            <div>WORK Lorem ipsum dolor sit amet.</div>
                            <br>
                        </div>
                        <div class="col s12 no-padd">
                            <div>Demo worker</div>
                            <div>Lorem comany name</div>
                            <div>Duration</div>
                            <div>WORK Lorem ipsum dolor sit amet.</div>
                            <br>
                        </div>
                        <div class="col s12 no-padd">
                            <div>Demo worker</div>
                            <div>Lorem comany name</div>
                            <div>Duration</div>
                            <div>WORK Lorem ipsum dolor sit amet.</div>
                            <br>
                        </div>


                        <div class="col s12 no-padd">
                            <a data-html2canvas-ignore id="r3" style="font-family: sans-serif;" href="/makecv/12345">Add More+</a>

                        </div>
                    </div>
                </div>
                <div class="col s12 no-padd">
                    <div class="divider"></div>
                    <br>
                    <div class="col s3">
                        <b style="font-size:1.5em">ROLLS</b>
                    </div>
                    <div class="col s9">



                        <div class="col s12 no-padd">
                            <a data-html2canvas-ignore id="r4" style="font-family: sans-serif;" href="/makecv/12345">Add More+</a>

                        </div>
                    </div>
                </div>
                <div class="col s12 no-padd">

                    <div class="divider"></div>
                    <br>
                    <div class="col s3">
                        <b style="font-size:1.5em">SKILLS</b>
                    </div>
                    <div class="col s9">
                        <div class="col s6">
                            <h6>
                                <b class="ui label">ANDROID</b>
                            </h6>
                        </div>
                        <div class="col s6">
                            <h6>
                                <b class="ui label">WEBSITE DEVELOPMENT</b>
                            </h6>
                        </div>
                        <div class="col s6">
                            <h6>
                                <b class="ui label">NODE JS</b>
                            </h6>
                        </div>
                        <div class="col s6">
                            <h6>
                                <b class="ui label">NODE JS</b>
                            </h6>
                        </div>
                        <div class="col s6">
                            <h6>
                                <b class="ui label">NODE JS</b>
                            </h6>
                        </div>
                        <div class="col s6">
                            <h6>
                                <b class="ui label">NODE JS</b>
                            </h6>
                        </div>
                        <div class="col s6">
                            <h6>
                                <b class="ui label">NODE JS</b>
                            </h6>
                        </div>
                        <div class="col s6">
                            <h6>
                                <b class="ui label">NODE JS</b>
                            </h6>
                        </div>
                        <div class="col s6">
                            <h6>
                                <b class="ui label">NODE JS</b>
                            </h6>
                        </div>
                        <div class="col s6">
                            <h6>
                                <b class="ui label">NODE JS</b>
                            </h6>
                        </div>


                        <div class="col s12 no-padd">

                            <br>
                            <a data-html2canvas-ignore id="r5" style="font-family: sans-serif;" href="/makecv/12345">Add More+</a>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col s12" style="height:50px;"></div>
    </div>

    <!-- FOOTER START -->
    <% include ../../partials/pre_footer %>
    <!-- FOOTER END -->

    <!-- Compiled and minified JavaScript -->
</body>

</html>