<!-- NAVIGATION BAR START -->
<meta name="keyword" content="Assessment test, freshers jobs, aptitude test, recruitment company, job offers, test for jobs, cv , resume, IT jobs, sales & marketing jobs, BPO jobs , accounting jobs , digital marketing jobs, operation jobs, HR jobs, office support jobs, freshers jobs after 12th ,  freshers jobs after bba,  freshers jobs after bca,  freshers jobs after graduation,  freshers jobs after btech,  freshers jobs after b.com,  freshers jobs after m.com, best assessment test,  freshers jobs in Delhi, freshers jobs in Banglore, freshers jobs in mumbai, freshers jobs in Ahmedabad, freshers jobs in chennai, freshers jobs in pune, cv for IT jobs , cv for sales job, cv for marking jobs ">
<div class="navbar-fixed white-text" style="position: fixed;top:0px;">
    <nav class="indigo accent-4 z-depth-0">
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="/" class="brand-logo">
                <img style="width:130px;" src="../img/logo.png" alt="">
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a  href="/user/profile">
                        <b>Dashboard</b>
                    </a>
                </li>
                <li>
                    <a href="/user/mytests">
                        <b>Book JL Test</b>
                    </a>
                </li>
                <li>
                    <a href="/job-opportunities">
                        <b>Job Opportunities</b>
                    </a>
                </li>
                <li>
                    <a  href="/user/logout">
                        <b>Logout</b>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
</div>
<ul id="slide-out" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img src="/img/reason.png">
          </div>
          <div style="height:50px !important;"></div>
          <a href="#user"><img class="circle" src="/img/profilepic.jpg"></a>
          <div style="height:50px !important;"></div>
        </div>
    </li>
    <li>
            <a  href="/user/profile">
                <b>Dashboard</b>
            </a>
        </li>
        <li>
            <a href="/user/mytests">
                <b>Book JL Test</b>
            </a>
        </li>
        <li>
            <a href="/job-opportunities">
                <b>Job Opportunities</b>
            </a>
        </li>
        <li>
            <a  href="/user/logout">
                <b>Logout</b>
            </a>
        </li>
      </ul>


<!-- NAVIGATION BAR END -->