<footer class="page-footer indigo accent-4" style="box-shadow:0px -10px 10px 0px 10px #304ffe !important;">
    <div class="row container">
        <div class="col s12 white-text">
            <div class="col l6 s12">
                <h5 class="hide-on-small-only"><b>STILL LOOKING FOR A JOB ?</b></h5>
                <h6 class="show-on-small-only hide-on-med-and-up"><b>STILL LOOKING FOR A JOB ?</b></h6>
            </div>
            <div class="col l6 s12">
                <br>
                <a class="col s6 offset-s3 btn white indigo-text z-depth-0" href="/signup"><b>Click here</b></a>
            </div>
        </div>
        <div class="col s12"></div>

        <div class="col l8 s12">
            <div class="col s12 no-padd">
                <br>
                <h5>USEFUL LINKS</h5>
                <ul>
                    <div class="col l3 s12 no-padd">
                        <li><a class="white-text" href="/about-joblana">About us</a></li>
                        <li><a class="white-text" href="/contact-joblana">Contact us</a></li>
                        <li><a class="white-text" href="/faq-joblana">F.A.Q</a></li>
                        <li><a class="white-text" href="/why-joblana-jl-test">Why <b>JOBLANA</b></a></li>
                        <li><a class="white-text" href="/terms-and-conditions">Terms and Conditions</a></li>
                        <li><a class="white-text" href="/syllabus">Syllabus</a></li>
                    </div>
                    <div class="col l3 s12 no-padd">
                        <li><a class="white-text" href="http://blog.joblana.com">Blog</a></li>
                        <li><a class="white-text" href="/joblana-recruiting-partners">Our partners</a></li>
                        <li><a class="white-text" href="/about-jl-test">About <b>JL TEST</b></a></li>
                        <li><a class="white-text" href="/how-it-works-joblana">How it works</a></li>
                        <li><a class="white-text" href="/joblana-sample-paper-jl-test">Sample papers</a></li>
                    </div>
                    <div class="col l3 s12 no-padd">
                        <li><a class="white-text" href="/post-a-job-joblana">Post a job</a></li>
                        <li><a class="white-text" href="/upcoming-jl-test">Upcoming tests</a></li>
                        <li><a class="white-text" href="/job-opportunities">Job Listings</a></li>
                        <li><a class="white-text" href="/login">Login</a></li>
                        <li><a class="white-text" href="/signup">Signup</a></li>
                    </div>





                </ul>
            </div>
            <div class="col l4 s12 no-padd">
                <br>
                <h5>Connect</h5>
                <ul>
                    <li>
                        <div class="col s12 no-padd">
                            <a class="white-text" href=" https://www.facebook.com/joblana/">
                                <i class="col s4 fab fa-facebook-square fa-3x"></i>
                            </a>
                            <a class="white-text" href="https://twitter.com/job_lana">
                                <i class="col s4 fab fa-twitter-square fa-3x"></i>
                            </a>
                            <a class="white-text" href="https://www.linkedin.com/company/joblana/">
                                <i class="col s4 fab fa-linkedin fa-3x"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="row"></div>
                        <div class="col s12 no-padd">Phone : 01140392690</div>
                    </li>
                    <li>
                        <div class="col s12 no-padd">Email : support@joblana.com</div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col l4 s12">
            <div class="col s12" style="height:50px;"></div>
            <div class="col s12">
                <ul>
                    <li>

                        <a class="white-text" href="/it-jobs-for-freshers">IT JOBS</a> <br>
                    </li>
                    <li>
                        <a class="white-text" href="/human-resources-jobs-for-freshers">HUMAN RESOURCES</a><br>

                    </li>
                    <li>
                        <a class="white-text" href="/sales-and-marketing-jobs-for-freshers">SALES AND MARKETING</a> <br>

                    </li>
                    <li>

                        <a class="white-text" href="/accounting-jobs-for-freshers">ACCOUNTING</a> <br>
                    </li>
                    <li>

                        <a class="white-text" href="/digital-marketing-jobs-for-freshers">DIGITAL MARKETING</a> <br>
                    </li>
                    <li>

                        <a class="white-text" href="/office-support-jobs-for-freshers">OFFICE SUPPORT</a> <br>
                    </li>
                    <li>

                        <a class="white-text" href="/calling-jobs-for-freshers">CALLING (INBOUND/OUTBOUND)</a> <br>
                    </li>
                    <li>

                        <a class="white-text" href="/operations-jobs-for-freshers">OPERATIONS</a> <br>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018, Blockriti Infotech Private Limited
            <a class="grey-text text-lighten-4 right" href="/privacy-policy"> Privacy Policy</a>
        </div>

    </div>
</footer>

<script src="https://wchat.freshchat.com/js/widget.js"></script>
<script>
    window.fcWidget.init({
       token: "4281856b-8aa2-4b5e-8108-4171813716e5",
       host: "https://wchat.freshchat.com"
    });
    $(document).ready(function() {
        M.AutoInit();
        $('.tooltipped').tooltip();
        array = <%- JSON.stringify(locals.messages) %>;
        array.forEach(a => {
            M.toast({
                html: "<b>" + a[0] + "</b>",
                classes: a[1]
            });
            <%- removeMessages() %>
        });

    });
</script>