<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/pre_head %>
        <title>Admin Pannel</title>
        <meta name="description" content="JobLana is a platform giving opportunity to freshers and job seekers to get benchmarked score based on JL Test to bring themselves closer to more than 2000 recruiters for getting hired and also meeting companies demands to acquire the best talent.">
        <style>
            .body{
                background-image:url('/img/adminpanel.png');
                background-position:bottom center;
            }
            .no-padd {
                padding: 0px !important;
            }
        </style>
</head>

<body>

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
        <!-- NAVIGATION BAR END -->


        

        <div class="row body" style="height:100%;">
            <div style="display:flex;width:100%;height:100%;background:rgba(7, 116, 199, 0.581) !important;">
            <div style="flex:1;margin:auto">
            <div class="col l6 offset-l3 s12 card no-padd" style="border-radius:5px;">
                <div class="col s12 no-padd">
                    <div class="col s6" style="position:relative;height:400px;background-image: url('/img/adminpanelavatar.gif');background-position:center;background-size:cover;">
                        <h2></h2>
                    </div>

                    <br>
                    <div class="col s6"style="height:375px;background-image: url('/img/ladydev.jpg');background-position:bottom right;background-size:200px 150px;background-repeat: no-repeat;">
                        <br>
                            <h6 class="indigo-text  center-align" style="letter-spacing:15px;"><b>OPERATIONS</b></h4><br>
                        <a style="width:100%;border:2px solid rgb(241, 200, 63);" href="/admin/addjob" class=" btn amber-text white   z-depth-0"><b>ADD JOB</b></a><br><br>
                        <a style="width:100%;border:2px solid rgb(241, 200, 63);" href="/admin/editjobs" class="btn amber-text white z-depth-0"><b>EDIT JOBS</b></a><br><br>
                        <a style="width:100%;border:2px solid rgb(241, 200, 63);" href="/admin/addtest" class="btn amber-text white  z-depth-0"><b>ADD TEST</b></a><br><br>
                        <a style="width:100%;border:2px solid rgb(241, 200, 63);" href="/admin/viewusers" class="btn amber-text white  z-depth-0"><b>USERS</b></a><br><br>
                        
                        <br><br>
                    </div>
                </div>
            </div>
            </div>
            </div>
           
        </div>

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
</body>

</html>