<ul id="slide-out" class="sidenav" style="background:url('../img/cycle.jpg');">
    <li>
        <div class="user-view">
            <div class="background">
                <img style="width:100%;" src="../img/cycle.jpg">
            </div>
            <a href="#user"><img style="width:90px;" class="circle" src="../img/profilepic.jpg"></a>
            <a href="#name"><span class="indigo-text name"><b>John Doe</b></span></a>
            <a href="#email"><span class="indigo-text email"><b>jdandturk@gmail.com</b></span></a>
        </div>
    </li>
    <li>
        <a class="btn indigo accent-4 white-text z-depth-0" style="border-radius:30px;" href="index.html"><b>Home</b></a>
    </li>
    <li>
        <a class="btn indigo accent-4 white-text z-depth-0" style="border-radius:30px;" href="index.html"><b>Company</b></a>
    </li>
    <li>
        <a class="btn indigo accent-4 white-text z-depth-0" style="border-radius:30px;" href="login.html"><b>Logout</b></a>
    </li>
</ul>