<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content='Login on JobLana Platform to get in front of 500+ recruiters across the globe.'>
    <% include ../../partials/pre_head %>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    
    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
    <!-- NAVIGATION BAR END -->
    
    <div class="row">
        <div class="col s12" style="height:150px;"></div>
        <form class="col l6 offset-l3 s12" action="/user/forgot-password" method="POST">
            <div class="card col l8 offset-l2 s12 z-depth-3" style="padding:10px;border-radius:10px; border-top:5px solid #2962ff;">
                <center>
                    <h4 class="indigo-text">ENTER EMAIL</h4>
                    <p>A password reset link will be sent to your email</p>
                </center>
                <br>
                <div class="input-field col s12">
                        <input placeholder="Email" id="email" name="email" type="text" class="blue-text"/> 
                    </div>
                     <div class="input-field col s12">
                         <center>
                             <input name="Reset Password" style="margin-top:0px;border-radius:5px;transition:all .3s ease-in-out;" type="submit" class="btn btn-large blue accent-4 z-depth-5 white-text" value="SEND EMAIL">
                         </center>
                     </div>
                
            </div>
        </form>
        <div class="col s12" style="height:150px;"></div>
    </div>

<!-- FOOTER START -->
    <% include ../../partials/pre_footer %>
<!-- FOOTER END -->

</body>
</html>