<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content='Signup on JobLana Platform to get in front of 500+ recruiters across the globe.'>
    <% include ../../partials/pre_head %>
    <style>
        input:not([type]),
            input[type=text]:not(.browser-default),
            input[type=password]:not(.browser-default),
            input[type=email]:not(.browser-default) {
                border:solid  2px  #ccc  !important;
                outline: none;
                height: 3rem;
                width: 100%;
                font-size: 16px;
                margin: 0 0 8px 0;
                padding: 0;
                background-color: transparent;
                box-shadow: 0px
            }
            
            input:not([type]):focus:not([readonly]),
            input[type=text]:not(.browser-default):focus:not([readonly]),
            input[type=password]:not(.browser-default):focus:not([readonly]),
            input[type=email]:not(.browser-default):focus:not([readonly]) {
                border:solid  2px  #646af2  !important;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            
            input::-webkit-input-placeholder {
                color: grey;
            }
            
            .no-padd {
                padding: 0px !important;
            }
            .signup-body{
                    background:url('/img/signup.png');
                    background-repeat: no-repeat;
                    background-position:bottom left;
                }
            
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
    <!-- NAVIGATION BAR END -->

    <div class="row signup-body" style="display:flex;height:110%;">
        <div style="flex:1;margin: auto;width:100%;">
        <form class="col l6 offset-l3 s12" action="/user/signup" method="POST">
            <div class="card col l8 offset-l2 s12 z-depth-3" style="border-radius:10px; border-top:5px solid #2962ff;background:rgba(255,255,255,0.8);">
                <center>
                    <h4 class="indigo-text">Signup</h4>
                    <br>
                </center>
                <div class="col s6">
                    <input placeholder="First Name" name="firstname" id="firstname" type="text" class="blue-text" style="padding:5px;font-size:1em;margin-left:-5px;">
                </div>
                <div class="col s6">
                    <input placeholder="Last Name" name="lastname" id="lastname" type="text" class="blue-text" style="padding:5px;font-size:1em;margin-left:-5px;">
                </div>
                <div class="col s12">
                    <input placeholder="Phone No" name="phoneno" id="phoneno" type="text" class="blue-text" style="padding:5px;font-size:1em;margin-left:-5px;">
                </div>
                <div class="col s12">
                    <input placeholder="Email" name="email" id="email" type="text" class="blue-text" style="padding:5px;font-size:1em;margin-left:-5px;">
                </div>
                <div class="col s6">
                    <input placeholder="Password" name="password" id="password" type="password" class="blue-text" style="padding:5px;font-size:1em;margin-left:-5px;">
                </div>

                <div class="col s6">
                    <input placeholder="Confirm Password" name="cpassword" id="cpassword" type="password" class="blue-text" style="padding:5px;font-size:1em;margin-left:-5px;">
                </div>
                <div class="col s12">
                    <select name="role" id="role">
                        <option value="RECRUITER">RECRUITER</option>
                        <option value="USER" selected>USER</option>
                    </select>
                </div>
                <div class="row"></div>
                <br> You agree to <a href="/terms-and-conditions">terms and conditions</a> and <a href="/privacy-policy">Privacy Policy</a> on Sign up.
                <br><br>
                <div class="input-filed col s12">
                    <center>
                        <input style="margin-top:0px;border-radius:5px;transition:all .3s ease-in-out;" type="submit" class="col s12 btn btn-large indigo accent-4 z-depth-5 white-text" value="Signup">
                    </center>
                </div>
                <div class="row">
                    <br>
                </div>

            </div>
        </form>
        </div>
    </div>

<!-- FOOTER START -->
    <% include ../../partials/pre_footer %>
<!-- FOOTER END -->
<script>
        var WindowWidth = $(window).width();
        var rows = $('div.signup-body');
        console.log(WindowWidth);
        if(WindowWidth <= 425){
            rows.each(function(i){
                if(i==0){

                }
                else{
                $(this).css({'height':'auto'});
                }
            });
        }
       
    </script>
</body>
</html>