<!DOCTYPE html>
<html lang="en">

<head>
    <meta name='description' content='Signup on JobLana Platform to get in front of 500+ recruiters across the globe.'>
    <% include ../../partials/pre_head %>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
    <!-- NAVIGATION BAR END -->

    <div class="row">
        <div class="col s12" style="height:100px;"></div>
        <form class="col l6 offset-l3 s12" action="<%- link('signup', 'user') %>" method="POST">
            <div class="card col l8 offset-l2 s12 z-depth-3" style="padding:10px;border-radius:10px; border-top:5px solid #2962ff;">
                <center>
                    <h4 class="indigo-text">Signup</h4>
                </center>
                <br>
                <div class="input-field col s6" style="border-radius:10px;">
                    <input placeholder="First Name" name="firstname" id="firstname" type="text" class="blue-text" style="padding:5px;font-size:1.5em;">
                </div>
                <div class="input-field col s6" style="border-radius:10px;">
                    <input placeholder="Last Name" name="lastname" id="lastname" type="text" class="blue-text" style="padding:5px;font-size:1.5em;">
                </div>
                <div class="input-field col s12" style="border-radius:10px;">
                    <input placeholder="Phone No" name="phoneno" id="phoneno" type="text" class="blue-text" style="padding:5px;font-size:1.5em;">
                </div>
                <div class="input-field col s12">
                    <input placeholder="Email" name="email" id="email" type="text" class="blue-text" style="padding:5px;font-size:1.5em;">
                </div>
                <div class="input-field col s6" style="border-radius:10px;">
                    <input placeholder="Passowrd" name="password" id="password" type="password" class="blue-text" style="padding:5px;font-size:1.5em;">
                </div>

                <div class="input-field col s6" style="border-radius:10px;">
                    <input placeholder="Confirm Passowrd" name="cpassword" id="cpassword" type="password" class="blue-text" style="padding:5px;font-size:1.5em;">
                </div>
                <br> You agree to <a href="/terms-and-conditions">terms and conditions</a> and <a href="/privacy-policy">Privacy Policy</a> on Sign up.
                <br><br>
                <div class="input-filed col s12">
                    <center>
                        <input style="margin-top:0px;border-radius:5px;transition:all .3s ease-in-out;" type="submit" class="col s12 btn btn-large indigo accent-4 z-depth-5 white-text" value="Signup">
                    </center>
                </div>
                <div class="row">
                    <br>
                </div>

            </div>
        </form>
        <div class="col s12" style="height:150px;"></div>
    </div>

<!-- FOOTER START -->
    <% include ../../partials/pre_footer %>
<!-- FOOTER END -->

</body>
</html>