<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/pre_head %>
        <title>About JobLana | Bringing Fresher job seekers closer to recruiters though an innovative assessment test</title>
        <meta name="description" content="JobLana is a platform giving opportunity to freshers and job seekers to get benchmarked score based on JL Test to bring themselves closer to more than 2000 recruiters for getting hired and also meeting companies demands to acquire the best talent.">
</head>

<body class="">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
        <!-- NAVIGATION BAR END -->

        <div class="row" style="height:30px;"></div>
        <!-- HEADER START -->
        <div class="row white-text blue darken-4">
            <div class="col l6 offset-l1 s12">
                <div class="row" style="height:50px;"></div>
                <h1>
                    <b>About Joblana</b>
                </h1>

                <div class="row" style="height:50px;"></div>
            </div>
        </div>
        <!-- HEADER END -->

        <!-- JOB DETAILS PANEL START -->
        <div class="row">
            <div class="row" style="height:50px;"></div>
            <div class="col s10 offset-s1">
                <div class="col  s12 card no-padd z-depth-1">
                    <div class="col s12">
                        <blockquote>

                            <li style="font-size:1.3em;word-spacing:10px;">
                                <b>JobLana</b> is a platform giving opportunity to freshers and job seekers to get benchmarked score based on JL Test to bring themselves closer to more than 2000 recruiters for getting hired and also meeting companies
                                demands to acquire the best talent.
                                <br><br> Whether you’re a professional looking for jobs, or an employer searching for the best talents for your organisation, we’re here to help! Committed to our mission to find jobs for people they’ll love and connect
                                companies with the talent they need.
                                <br><br> For job-seekers, Joblana provides a platform to build your CV and help you to get a call from hundreds of recruiters based on your JL Test score plus you have access to apply for regular job openings from our partner
                                companies that dramatically improving your chances of getting your dream job, with much less effort.
                                <br><br> For recruiters, Joblana provide best way to reach out more than 40,000+ qualified candidates evaluated using standardized evaluation criteria with the ease of JL Test and getting the best candidate without any
                                of the hassles but with huge savings in cost and effort. We specialize in recruiting for human resources, office support, finance, accounting, creative services, IT Job roles and marketing roles.
                            </li>
                        </blockquote>
                    </div>
                    <div class="row" style="height:50px;"></div>

                </div>
            </div>
            <div class="row" style="height:50px;"></div>

            <!-- JOB DETAILS PANEL END -->
        </div>

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
</body>

</html>