<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/pre_head %>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
        <!-- NAVIGATION BAR END -->


        <div class="row" style="height:50px;"></div>
        <div class="row white-text blue darken-4">
            <div class="col s12">
                <div class="row" style="height:50px;"></div>

                <h1><b>CALL JOBS</b></h1>
                <div class="row" style="height:50px;"></div>

            </div>
        </div>
        <div class="row" style="height:50px;"></div>

        <div class="row">
            <div class="col s8 offset-s2">
                BPO industry attracts many fresher every year. The nature of the job is both full-time and part-time. Since most of the freshers are either 12th pass, undergraduate and praparing for further education. It gives them opportunity to support them financially
                and learn corporate culture which helps them later. Associate is a the starting level of a BPM and in some organizations they are called as Executives. They are basically the backbone of any/all BPM companies and no company can survive
                without Associate level employees. Since most of the crowd is fresher and they are involved in their education, they work for few months or years in BPO industry and leave it. Many of them are working just to learn language and enhance
                their personality. These factors hit the stability in BPO industry and that the reason companies has to hire people every month in huge volume.
            </div>
        </div>

        <div class="row grey lighten-2">
            <div class="col s12" style="height:50px;"></div>
            <div class="col l8 offset-l2 s12 card" style="border-radius:5px;">
                <div class="col s12">
                    <h5><b>Roles And Responsibilities in Calling Job</b></h5>
                    <div class="divider"></div>
                    <br><br>
                    <div class="col s12">
                        <li class="ui message">

                            Answering or making calls to clients to learn about and address their needs, complaints, or other issues with products or services.
                        </li>
                        <li class="ui message">

                            Responding efficiently and accurately to callers, explaining possible solutions, and ensuring that clients feel supported and valued.
                        </li>
                        <li class="ui message">
                            Building lasting relationships with clients and other call center team members based on trust and reliability.

                        </li>
                        <li class="ui message">

                            Obtains client information by answering telephone calls
                        </li>
                    </div>

                </div>
                <div class="col s12" style="height:50px;"></div>
            </div>
        </div>
        <div class="row">
            <h3 class="col l8 offset-l2">Latest Jobs</h3>
            <div id="joblistcon" class="col l8 offset-l2 s12">

            </div>
        </div>
        <!-- FOOTER START -->
        <div id="myfooter">
        </div>
        <!-- FOOTER END -->





        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
            <script>
                $(document).ready(function() {
                    M.AutoInit();
                    getJobList();
                });
            </script>
            <script>
                function getJobList() {
                    $.ajax({
                        url: window.location.origin + "/getjoblistings",
                        method: "GET",
                        dataType: "json",
                        success: function(response) {
                            let fulldata = response.data.filter(d => d.jobtitle == "calling").slice(0, 3);

                            console.log(fulldata);
                            joblistmaker(fulldata);
                        },
                        error: function(err) {
                            console.log(err);
                        }
                    });
                }

                function joblistmaker(data) {
                    console.log(data);
                    let JOBLISTCON = $('#joblistcon ');
                    JOBLISTCON.empty();
                    for (d in data) {
                        var EXP = expToMonth(data[d].experience);
                        let template =
                            `
        <div class="col l4 s12 " style="cursor:pointer;">
                    <div class="col s12 ui white card no-padd hoverable animated bounceIn" style="animation-delay:` + Math.random() * 1 + `s;border-radius:0px 0px 10px 10px;border-top:2px solid indigo">
                        <div class="col s12">
                            <h6 style="text-transform:uppercase;"><b>
                                <i class="fas fa-building fa-1x grey-text lighten-2"></i>&nbsp;` + data[d].jobtitle + ` JOB</b>
                                
                            </h6>
                            <small><i>` + data[d].companyname + `</i></small><br/>
                            <div class="col s12 no-padd">
                                <div class="col s12 no-padd">
                                   <strong> EXP : ` + EXP + `</strong>
                                </div>
                                <div class="col s12 no-padd">
                                    <strong>  SALARY : ` + data[d].salary + `LPA </strong>
                                </div>
                                <div class="col s12 no-padd">
                                    <strong>  LOCATION : ` + data[d].location + `</strong> 
                                </div>
                            </div>
                            <div class="col s12 no-padd">
                                
                            <a href="/company-info/` + data[d].jobid + `">Read More</a>
                                
    
                            </div>
                                <div class="col s12 no-padd">
                                    <a href="/schedule" class="btn white indigo-text right accent-4 z-depth-0">
                                        <b>APPLY</b>
                                    </a>
                                </div>
                            
                            </div>
                            </div>
                            <div class="row"></div>
                </div>
        `;
                        template = template.replace(/null/gi, "Not Specified");
                        JOBLISTCON.append(template);
                        $(document).on('click', ".collapsible", function() {
                            $(this).collapsible();
                        });
                    }

                    function expToMonth(exp) {
                        switch (exp) {
                            case 'ef':
                                return '>12 MONTH';
                                break;
                            case 'e12':
                                return '+12 MONTH';
                                break;
                            case 'e24':
                                return '+24 MONTH';
                                break;
                            case 'e24p':
                                return '>24 MONTH';
                                break;
                        }
                    }
                }
            </script>
</body>

</html>