<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/pre_head %>
        <title></title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
        <!-- NAVIGATION BAR END -->

        <div class="row" style="height:30px;"></div>
        <div class="row white-text blue darken-4">
            <div class="col s10 offset-s2">
                <div class="row" style="height:50px;"></div>
                <h1><b>DIGITAL MARKITING JOBS</b></h1>
                <div class="row" style="height:50px;"></div>
            </div>
        </div>
        <div class="row" style="height:50px;"></div>
        <div class="row">
            <div class="col s8 offset-s2">
                Digital marketing is a industry which helps companies in marketing their products/services online. Compared to traditional marketing these are many key benefits which makes this marketing strategy more effective and affordable. It Can target huge number
                of audience with specific features. Digital Marketing is a booming career option today. With striking features like cost-effectiveness, instant response, flexibility, convenience, effectiveness, Digital Marketing is making a strong impact
                in the world of Marketing and Advertising. Digital Marketing has amazing future in India and across the world. With more than 20% of India’s population already using internet in various types and sizes of device, it is imperative that
                growth and consumption of content, e-commerce etc is going to be huge. You can start your career in any of the given traits depending upon demand or your area of interest in Search engine optimization,Paid search,Email marketing,Social
                media marketing,Content marketing.
            </div>
        </div>

        <div class="row">
            <div class="col s12" style="height:50px;"></div>
            <div class="col l8 offset-l2 s12 card" style="border-radius:5px;">
                <div class="col s12">
                    <h5><b>Rols And Responsibilities in Digital Marketing in India</b></h5>
                    <div class="divider"></div>
                    <br><br>
                    <div class="col s12">
                        <li class="ui message">
                            Plan and execute all digital marketing, including SEO/SEM, marketing database, email, social media and display advertising campaigns
                        </li>
                        <li class="ui message">
                            Manage and maintain the organisation’s website(s)
                        </li>
                        <li class="ui message">
                            Collaborate with internal teams to create landing pages and optimize user experience
                        </li>
                        <li class="ui message">
                            Collaborate with agencies and other vendor partners
                        </li>
                        <li class="ui message">
                            Must have good Speaking Video editing skills and Web development skills : knowledge of HTML/JavaScript, strong knowledge of search engine optimization and other advance application used in digital marketing.
                        </li>
                        <li class="ui message">
                            Identify new trends in digital marketing, evaluate new technologies
                        </li>
                        <li class="ui message">
                            And Implementing trending ideas.
                        </li>
                        <li class="ui message">
                            Must have good Editing and writing skills,
                        </li>
                        <li class="ui message">
                            Identify trends and insights, and optimize spend and performance based on the insights
                        </li>
                        <li class="ui message">
                            Write and optimise content for the website and social networking accounts such as Facebook and Twitter
                        </li>
                        <li class="ui message">
                            Design, build and maintain our social media presence
                        </li>
                    </div>
                </div>
                <div class="col s12" style="height:50px;"></div>
            </div>
        </div>
        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
            <script>
                function getJobList() {
                    $.ajax({
                        url: window.location.origin + "/getjoblistings",
                        method: "GET",
                        dataType: "json",
                        success: function(response) {
                            let fulldata = response.data.filter(d => d.jobtitle == "it").slice(0, 3);

                            console.log(fulldata);
                            joblistmaker(fulldata);
                        },
                        error: function(err) {
                            console.log(err);
                        }
                    });
                }

                function joblistmaker(data) {
                    console.log(data);
                    let JOBLISTCON = $('#joblistcon ');
                    JOBLISTCON.empty();
                    for (d in data) {
                        var EXP = expToMonth(data[d].experience);
                        let template =
                            `
        <div class="col l4 s12 " style="cursor:pointer;">
                    <div class="col s12 ui white card no-padd hoverable animated bounceIn" style="animation-delay:` + Math.random() * 1 + `s;border-radius:0px 0px 10px 10px;border-top:2px solid indigo">
                        <div class="col s12">
                            <h6 style="text-transform:uppercase;"><b>
                                <i class="fas fa-building fa-1x grey-text lighten-2"></i>&nbsp;` + data[d].jobtitle + ` JOB</b>
                                
                            </h6>
                            <small><i>` + data[d].companyname + `</i></small><br/>
                            <div class="col s12 no-padd">
                                <div class="col s12 no-padd">
                                   <strong> EXP : ` + EXP + `</strong>
                                </div>
                                <div class="col s12 no-padd">
                                    <strong>  SALARY : ` + data[d].salary + `LPA </strong>
                                </div>
                                <div class="col s12 no-padd">
                                    <strong>  LOCATION : ` + data[d].location + `</strong> 
                                </div>
                            </div>
                            <div class="col s12 no-padd">
                                
                            <a href="/company-info/` + data[d].jobid + `">Read More</a>
                                
    
                            </div>
                                <div class="col s12 no-padd">
                                    <a href="/schedule" class="btn white indigo-text right accent-4 z-depth-0">
                                        <b>APPLY</b>
                                    </a>
                                </div>
                            
                            </div>
                            </div>
                            <div class="row"></div>
                </div>
        `;
                        template = template.replace(/null/gi, "Not Specified");
                        JOBLISTCON.append(template);
                        $(document).on('click', ".collapsible", function() {
                            $(this).collapsible();
                        });
                    }

                    function expToMonth(exp) {
                        switch (exp) {
                            case 'ef':
                                return '>12 MONTH';
                                break;
                            case 'e12':
                                return '+12 MONTH';
                                break;
                            case 'e24':
                                return '+24 MONTH';
                                break;
                            case 'e24p':
                                return '>24 MONTH';
                                break;
                        }
                    }
                }
            </script>
</body>

</html>