<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/pre_head %>
        <style>
            
            
            .no-padd {
                padding: 0px !important;
            }
            .error-body{
                display:flex;
                width:100%;
                height:100%;
            }

            .box{
                flex: 1;
                margin:auto;
            }
            
        </style>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
        <!-- NAVIGATION BAR END -->
        <!-- HEADER START -->
        
        <div class="row error-body">
            <div class="box">
               <div class="col l4 offset-l4">
                   <center>
                       <div class="card z-depth-0">
                           <img style="width:100%" src="/img/error.png" alt="">
                           <br>
                           <h3><b>INTERNAL SERVER ERROR</b></h3>
                           <br>
                            <a href="/" class="btn btn-large red white-text z-depth-0"><b>GO BACK</b></a>
                       </div>
                   </center>
               </div>
                    
            </div>
        </div>




        
        



        <!-- HEADER END -->

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
        <script>
            $(document).ready(function() {
                M.AutoInit();
            });

            $("a.brand-logo > img").css('margin-left','0px');
        </script>
        <script>
            var WindowWidth = $(window).width();
            var rows = $('div.rowbody');
            console.log(WindowWidth);
            if(WindowWidth <= 425){
                rows.each(function(i){
                    if(i==0){

                    }
                    else{
                    $(this).css({'height':'auto'});
                    }
                });
            }
           
        </script>
</body>

</html>