<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Bringing Fresher job seekers closer to recruiters though an innovative assessment test. We provide freshers job test for jobs like Sales & marketing, IT jobs, Accounting, Digital Marketing, Operation, HR etc for freshers after 12th, BBA, BCA, graduation, btech, m.com, b.com etc">
    <meta name="keyword" content="Assessment test, freshers jobs, aptitude test, recruitment company, job offers, test for jobs, cv , resume, IT jobs, sales & marketing jobs, BPO jobs , accounting jobs , digital marketing jobs, operation jobs, HR jobs, office support jobs, freshers jobs after 12th ,  freshers jobs after bba,  freshers jobs after bca,  freshers jobs after graduation,  freshers jobs after btech,  freshers jobs after b.com,  freshers jobs after m.com, best assessment test,  freshers jobs in Delhi, freshers jobs in Banglore, freshers jobs in mumbai, freshers jobs in Ahmedabad, freshers jobs in chennai, freshers jobs in pune, cv for IT jobs , cv for sales job, cv for marking jobs ">
    <meta name="google-site-verification" content="smIgPEnUquqOauJdlMy7WheAj9VjaW52621inNywLlA" />

    <% include ../../partials/pre_head %>
        <style>
            
            
            .no-padd {
                padding: 0px !important;
            }
            .error-body{
                display:flex;
                width:100%;
                height:100%;
            }

            .box{
                flex: 1;
                margin:auto;
            }
            
        </style>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
        <!-- NAVIGATION BAR END -->
        <!-- HEADER START -->
        
        <div class="row error-body">
            <div class="box">
               <div class="col l4 offset-l4">
                   <center>
                       <div class="card z-depth-0">
                           <img style="width:100%" src="/img/error.png" alt="">
                           <br>
                           <h3><b>INTERNAL SERVER ERROR</b></h3>
                           <br>
                            <a href="/home" class="btn btn-large red white-text z-depth-0"><b>GO BACK</b></a>
                       </div>
                   </center>
               </div>
                    
            </div>
        </div>




        
        



        <!-- HEADER END -->

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
        <script>
            $(document).ready(function() {
                M.AutoInit();
            });

            $("a.brand-logo > img").css('margin-left','0px');
        </script>
        <script>
            var WindowWidth = $(window).width();
            var rows = $('div.rowbody');
            console.log(WindowWidth);
            if(WindowWidth <= 425){
                rows.each(function(i){
                    if(i==0){

                    }
                    else{
                    $(this).css({'height':'auto'});
                    }
                });
            }
           
        </script>
</body>

</html>