<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Bringing Fresher job seekers closer to recruiters though an innovative assessment test. We provide freshers job test for jobs like Sales & marketing, IT jobs, Accounting, Digital Marketing, Operation, HR etc for freshers after 12th, BBA, BCA, graduation, btech, m.com, b.com etc">
    <meta name="keyword" content="Assessment test, freshers jobs, aptitude test, recruitment company, job offers, test for jobs, cv , resume, IT jobs, sales & marketing jobs, BPO jobs , accounting jobs , digital marketing jobs, operation jobs, HR jobs, office support jobs, freshers jobs after 12th ,  freshers jobs after bba,  freshers jobs after bca,  freshers jobs after graduation,  freshers jobs after btech,  freshers jobs after b.com,  freshers jobs after m.com, best assessment test,  freshers jobs in Delhi, freshers jobs in Banglore, freshers jobs in mumbai, freshers jobs in Ahmedabad, freshers jobs in chennai, freshers jobs in pune, cv for IT jobs , cv for sales job, cv for marking jobs ">
    <meta name="google-site-verification" content="smIgPEnUquqOauJdlMy7WheAj9VjaW52621inNywLlA" />

    <% include ../../partials/pre_head %>
        <style>
            .body,.body5{
                background-image: url('/img/form.jpg');
                background-position:top left;
                background-size:contain;
                background-attachment: fixed;
                background-repeat: no-repeat;
            }
            .body{
                background-repeat:repeat;
            }
            .body2{
                background-image:url('/img/video.png');    
            }
            .body3{
                background-image: url('/img/team_work.png');
                background-attachment:fixed;
            }
            .body4{
                background-image:url('/img/team3.png');
            }
            .body5{
                background-image: url('/img/have.png'); 
                background-repeat:repeat;
                background-position:center;
            }
            /* .body6{
                background-image:url('/img/howit2.png');
                background-repeat: no-repeat;
                background-position:center;
            } */
            .body7{
                background:url('/img/whatisjl.png');
                background-attachment: fixed;
            }
            .body8{
                background:url('/img/reason.png');
                background-position:center;
            }
            .body9{
                background:url('/img/partners.jpg');
                background-position:center;
                background-attachment:fixed;
            }
            .body10{
                position: relative;
            }
            .rowbody{
                position: relative;
            }
            
            input:not([type]),
            input[type=text]:not(.browser-default),
            input[type=email]:not(.browser-default) {
                border:solid  2px  #ccc  !important;
                outline: none;
                height: 3rem;
                width: 100%;
                font-size: 16px;
                margin: 0 0 8px 0;
                padding: 0;
                background-color: transparent;
                box-shadow: 0px
            }
            
            input:not([type]):focus:not([readonly]),
            input[type=text]:not(.browser-default):focus:not([readonly]),
            input[type=email]:not(.browser-default):focus:not([readonly]) {
                border:solid  2px  #646af2  !important;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            
            input::-webkit-input-placeholder {
                color: grey;
            }
            
            .no-padd {
                padding: 0px !important;
            }
            
            #name:focus,
            #name:active,
            #email:focus,
            #email:active {
                border:solid  2px  #646af2  !important;
            }
            
            p {
                font-family: sans-serif;
                font-size: 1.5em;
            }
            .pc-img{
                width:700px;
                height:500px;
                background:url('/img/howit.png');
                background-position: 0 0;
                background-size:cover;
            }
            .mystepcard{
                position:relative;
            }
            .mystepcard::before{
                content:attr(date-mystep);
                display:block;
                width:50px;
                height:50px;
                border:1px solid #ccc;
                border-radius:50px;
                position: absolute;
                top:10px;
                left:10px;
                background-color: #0190c4;
                color:#ffffff;
                font-size:2rem;
            }
            .p-img:hover{
                box-shadow:0px 0px 0px 2px #fff,
                0px 0px 0px 6px #fff,
                0px 0px 0px 8px var(--bg-col);
            }
            .p-img{
                --bg-col:#ccc;
                transition:all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                box-shadow:0px 0px 0px 0px rgba(0,0,0,0.0),
                0px 0px 0px 0px rgba(0,0,0,0.0),
                0px 0px 0px 0px rgba(0,0,0,0.0);
                background-color:var(--bg-col);
            }
            
        </style>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
        <!-- NAVIGATION BAR END -->
        <!-- HEADER START -->
        <div class="row body rowbody" style="height:100%;overflow: hidden;">
            <div style="width:100%;height:100%;display:flex;background:rgba(7, 116, 199, 0.581) !important;">
                <div style="flex:1;margin:auto;height:100%;">
                    <div class="col l6 s12" style="height:100%;display:flex;">
                        <div style="flex:1;margin:auto;">
                                <div class="col s12 no-padd">
                                        <center>
                                            <p style="font-size:1.5em;" class="grey-text text-lighten-4" id="typec">Bringing Job Seekers closer to Recruiters</p>
                                            <h1 style="font-size:6em;" class="hide-on-small-only white-text">
                                                <b>JobLana</b>
                                            </h1>
                                            <h1 class="hide-on-med-and-up show-on-small-only white-text">
                                                <b>Job
                                                <span class="white-text">Lana</span>
                                            </b>
                                            </h1>
                                            <div class="col l4 offset-l4 s12">
                                                <div class="col l12 s12">
                                                    <center>
                                                        <a href="/upcoming-jl-test" class="btn btn-large z-depth-0" style="background:#30f9c3;border-radius:50px;padding-left:8px;padding-right:8px;font-size:1em"><b>Book JL Test</b></a>
                                                    </center>
                                                </div>
                                            </div>
                                            <div class="row"></div>
                                        </center>
                                </div>
                        </div>
                    </div>
                    <div class="col l6 s12 hide-on-small-only"style="height:100%;display:flex;">
                            <div style="flex:1;margin:auto;">
                                    <div class="col s12 no-padd ">
                                            <div class="col l6 offset-l3 no-padd s12">
                                                <div class="col  s12">
                                                <form class="col s12 no-padd" action="/subscribe" method="POST">
                                                    <div class="card col no-padd s12 z-depth-5" style="padding:10px;border-radius:20px;overflow: hidden;">
                                                        <div class="col s12 no-padd" style="height:200px;overflow: hidden;">
                                                            <img style="width:100%;" src="/img/getstarted.jpg" alt="">
                                                        </div>
                                                        <div class="input-field col s10 offset-s1 no-padd">
                                                            <input style="padding-left:10px;margin-left:-5px;" placeholder="Your name" id="name" name="name" type="text" class="blue-text cyan lighten-5" />
                        
                                                        </div>
                                                        <div class="input-field col s10 offset-s1 no-padd">
                                                            <input style="padding-left:10px;margin-left:-5px;" placeholder="Email" id="email" name="email" type="text" class="blue-text cyan lighten-5" />
                                                        </div>
                                                        <br>
                                                        <div class="input-field col s12">
                                                            <center>
                                                                <input id="GetStarted" name="getstartsubmit" style="margin-top:0px;border-radius:50px;transition:all .3s ease-in-out;background:#646af2 " type="submit" class="col s8 offset-s2 btn btn-large  z-depth-2 white-text" value="Get Job Alerts">
                                                            </center>
                                                        </div>
                        
                                                    </div>
                                                </form>
                                                </div>
                                            </div>            
                                    </div>
                            </div>
                    </div>
                
                
                </div>
            </div>
        </div>

        <div class="row body2 rowbody hide-on-med-and-up show-on-small-only" style="height:100%;overflow: hidden;margin-top:-20px">
            <div style="width:100%;height:100%;display:flex;background:rgba(7, 116, 199, 0.581) !important;">
                <div style="flex:1;margin:auto;">
                        <div class="col s12 no-padd ">
                                <div class="col l6 offset-l3 no-padd s12">
                                    <div class="col  s12">
                                    <form class="col s12 no-padd" action="/subscribe" method="POST">
                                        <div class="card col no-padd s12 z-depth-0" style="padding:10px;border-radius:10px;">
                                            <div class="col s12 no-padd" style="height:200px;overflow: hidden;">
                                                <img style="width:100%;" src="/img/getstarted.jpg" alt="">
                                            </div>
                                            <div class="input-field col s10 offset-s1">
                                                <input style="padding-left:10px;margin-left:-5px;" placeholder="Your name" id="name" name="name" type="text" class="blue-text cyan lighten-5" />
            
                                            </div>
                                            <div class="input-field col s10 offset-s1">
                                                <input style="padding-left:10px;margin-left:-5px;" placeholder="Email" id="email" name="email" type="text" class="blue-text cyan lighten-5" />
                                            </div>
                                            <br>
                                            <div class="input-field col s12">
                                                <center>
                                                    <input id="GetStarted" name="getstartsubmit" style="margin-top:0px;border-radius:50px;transition:all .3s ease-in-out;background:#646af2 " type="submit" class="col s8 offset-s2 btn btn-large  z-depth-2 white-text" value="Get Started">
                                                </center>
                                            </div>
            
                                        </div>
                                    </form>
                                    </div>
                                </div>            
                        </div>  
                </div>
            </div>
        </div>

        <div class="row grey lighten-5 rowbody" style="height:100%;overflow: hidden;margin-top:-20px">
            <div style="width:100%;height:100%;display:flex;">
                <div style="flex:1;margin:auto;">
                        <div class="col l8 offset-l2 s10 offset-s1 card z-depth-5" style="overflow: hidden;padding:10px;border-radius:10px;">
                            <div class="col l6 s12 no-padd">
                                <iframe class="col s12 no-padd hide-on-small-only" style="border:none;height:400px;overflow: hidden;" src="https://biteable.com/watch/embed/language-tutor-copy-1933615" allowfullscreen="true"></iframe>
                                <iframe class="col s12 no-padd hide-on-med-and-up show-on-small-only" style="border:none;height:200px;overflow: hidden;" src="https://biteable.com/watch/embed/language-tutor-copy-1933615" allowfullscreen="true"></iframe>
                            </div>    
                            <div class="col l6 s12">
                                <div class="col s12">
                                        <h1 class="hide-on-small-only" style="font-size:3em;color: #646af2;">
                                            <b>India's most Trusted skill Assessment Test for freshers job offering and recruitment</b>
                                        </h1>
                                        <h1 class="no-padd hide-on-med-and-up show-on-small-only" style="font-size:1.2em;color: #646af2;">
                                            <b>India's most Trusted skill Assessment Test for freshers job offering and recruitment</b>
                                        </h1>
                                        <!-- <form class="col s12">
                                            <div class="input-field col s12 no-padd" style="padding:10px;">
                                                    <input name="subscriptionemail" id="email_val" placeholder="Enter Email " type="text" class="" style="padding:5px;">
                                            </div>
                                            <div class="col s12 no-padd">
    
                                                    <input type="button" style="transition:all .3s ease-in-out;background-color:#646af2;" class="btn btn-large white-text " value="Get job alerts", id="email_submit">
                                                
                                                <br>
                                            </div>
                                        </form>
                     -->
                                </div>
                            </div> 
                        </div>
                </div>
            </div>
        </div>

        <div class="row white rowbody" style="height:100%;overflow: hidden;margin-top:-20px">
                <div style="width:100%;height:100%;display:flex;">
                    <div style="flex:1;margin:auto;">
                        <div class="col s12 no-padd">

                                    <h1 class="center-align indigo-text" style="font-size:3em; ">
                                        What We Do
                                    </h1>
                         </div>
                        <div class="col s12">
                                    <div class="col l8 offset-l2 s12 card white z-depth-5">
                                            <div class="col l6 s12">
                                                    <img style="width:100%;" src="img/image1.png " alt="What JobLana do?
                                                    What is JL test?
                                                    Best Assessment Test
                                                    Freshers jobs in India
                                                    Recruiting companies in india">
                                                    </div>
                                        <div class="col l6 s12">
                                            <p class="grey-text " style="font-size:1em;text-align:justify; ">
                                                Whether you’re a professional looking for jobs, or an employer searching for the best talents for your organisation, we’re here to help! Committed to our mission to find jobs for people they’ll love and connect companies with the talent they need.
                    
                                            </p>
                                            <p class="grey-text " style="font-size:1em;text-align:justify; ">
                                                For job-seekers, Joblana provides a platform to build your CV and help you to get a call from hundreds of recruiters based on your JL Test score plus you have access to apply for regular job openings from our partner companies that dramatically improving
                                                your chances of getting your dream job, with much less effort.
                                            </p>
                                            <p class="grey-text " style="font-size:1em;text-align:justify;">
                                                For recruiters, Joblana provide best way to reach out more than 40,000+ qualified candidates evaluated using standardised evaluation criteria with the ease of JL Test and getting the best candidate without any of the hassle but with huge savings in cost
                                                and effort.
                    
                                            </p>
                    
                                        </div>
                                        
                                    </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="row grey lighten-5 rowbody" style="height:100%;overflow: hidden;margin-top:-20px">
            <div style="width:100%;height:100%;display:flex;">
                <div style="flex:1;margin:auto;">
                        <div class="col s12 no-padd">

                                <h1 class="center-align black-text" style="font-size:3em; ">
                                    What We have
                                </h1>
                     </div>
                        <div class="col l10 offset-l1 s12">
                                <div>
                                    <div class="col l4 s12">
                                        <div class="col l10 offset-l1 s12">
                                        <center>
                                            <div class="card indigo accent-4 z-depth-5" style="border-radius:10px;overflow: hidden;">
                                                <div style="display:flex;overflow:hidden;height:250px;clip-path:polygon(0% 0% ,100% 0% ,100% 75%, 0% 90%);background-image:url('img/vacancies.jpg');background-size:cover;background-position:center;">
                                                    <!-- <div class="white" style="height:125px; width:125px;border-radius:100px;overflow:hidden;margin:auto;">
                                                        <img style="width:100%;"src="img/vacancies.jpg" alt=" IT jobs, sales & marketing jobs, BPO jobs , accounting jobs , digital marketing jobs, operation jobs, HR jobs, office support jobs, freshers jobs after 12th ,  freshers jobs after bba,  freshers jobs after bca,  freshers jobs after graduation,  freshers jobs after btech,  freshers jobs after b.com,  freshers jobs after m.com, ">
                                                    </div> -->
                                                </div>
                                                <div style="display:flex;height:150px;margin-top:-50px">
                                                    <h4 style="margin:auto;" class="white-text">5K+ Existing Vacancies</h4>
                                                </div>
                                                
                                            </div>
                                        </center>
                                        </div>
                                    </div>
                                    <div class="col l4 s12">
                                        <div class="col l10 offset-l1 s12">
                                        <center>
                                            <div class="card indigo accent-4 z-depth-5"style="border-radius:10px;overflow: hidden;">
                                                <div style="display:flex;overflow:hidden;height:250px;clip-path:polygon(0% 0% ,100% 0% ,100% 75%, 0% 90%);background-image:url('img/jobseekers2.png');background-size:cover;background-position:center;">
                                                    <!-- <div class="white" style="height:125px; width:125px;border-radius:100px;overflow:hidden;margin:auto;">
                                                            <img style="width:100%;" src="img/jobseekers.png" alt="Sales and marketing Jobs in india IT jobs in india BPO jobs in india HR jobs in india Operation jobs in india  accounting jobs in india                                                            office support jobs in indiadigital marketing jobs in india">
                                                    </div> -->
                                                </div>
                                                <div style="display:flex;height:150px;margin-top:-50px">
                                                    <h4 style="margin:auto;" class="white-text">100K+ Job applicants</h4>
                                                </div>
                                                
                                            </div>
                                        </center>
                                        </div>
                                    </div>
                                    <div class="col l4 s12">
                                        <div class="col l10 offset-l1 s12">
                                        <center>
                                            <div class="card indigo accent-4 z-depth-5"style="border-radius:10px;overflow: hidden;">
                                                <div style="display:flex;overflow:hidden;height:250px;clip-path:polygon(0% 0% ,100% 0% ,100% 75%, 0% 90%);background-image:url('img/vida_hospitality_hotel_jobs_miami.png');background-size:cover;background-position:center;">
                                                    <!-- <div class="white" style="height:125px; width:125px;border-radius:100px;overflow:hidden;margin:auto;">
                                                        <img  style="width:100%;" src="img/vida_hospitality_hotel_jobs_miami.jpg" alt="Freshers jobs in India Freshers jobs in Delhi Freshers jobs in Bangalore Freshers jobs in Pune Freshers jobs in Mumbai                                        Freshers jobs in Chennai Job vacancy in indiarecruitment agency in india ">
                                                    </div> -->
                                                </div>
                                                <div style="display:flex;height:150px;margin-top:-50px">
                                                    <h4 style="margin:auto;" class="white-text">500+ Recruiters</h4>
                                                </div>
                                                
                                            </div>
                                        </center>
                                        </div>
                                    </div>
                                    
                                </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="row white rowbody" style="height:100%;overflow:hidden;margin-top:-20px;">
            <div style="width:100%;height:100%;display:flex;" class="body6">
                <div style="flex:1;margin:auto;">
                    <div class="col s12 ">
                        <h1 class="center-align " style="font-size:3em;">How It Works</h1>
                    </div>
                        <center>
                            <div style="border-radius:10px;" class="col s6 offset-s3 hide-on-small-only card z-depth-0"><img style="width:100%;" src="/img/howit.png" alt=""></div><br>
                            <div date-mystep="1" style="border-radius:10px;" class="col s10 offset-s1 card mystepcard hide-on-med-and-up show-on-small-only"><img style="width:50%;" src="/img/howit (2).png" alt=""></div><br>
                            <div date-mystep="2"  style="border-radius:10px;" class="col s10 offset-s1 card mystepcard hide-on-med-and-up show-on-small-only"><img style="width:70%;" src="/img/howit (3).png" alt=""></div><br>
                            <div date-mystep="3" style="border-radius:10px;" class="col s10 offset-s1 card mystepcard hide-on-med-and-up show-on-small-only"><img style="width:70%;" src="/img/howit (4).png" alt=""></div><br>
                            <div date-mystep="4" style="border-radius:10px;" class="col s10 offset-s1 card mystepcard hide-on-med-and-up show-on-small-only"><img style="width:70%;" src="/img/howit (5).png" alt=""></div><br>
                            


                        </center>
                        <!-- <center>
                            <img class="hide-on-small-only" style="width:50%; " src="img/howit.png " alt=" ">
                            <img class="show-on-small-only hide-on-med-and-up" style="width:100%; " src="img/howit.png " alt=" ">
                        </center>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="row grey lighten-5  rowbody" style="height:100%;overflow: hidden;margin-top:-20px">
            <div style="width:100%;height:100%;display:flex;">
                <div style="flex:1;margin:auto;">
                    <div class="col l8 offset-l2 s12 no-padd card z-depth-5">
                        <div class="col l8 offset-l2 s12 no-padd">
                                <h1 class="center-align hide-on-small-only black-text" style="font-size:4em;">
                                    <b>What is JL TEST</b>
                                </h1>
                                <h1 class="center-align hide-on-med-and-up show-on-small-only" style="font-size:4em;">
                                    <b>What is <br> JL TEST</b>
                                </h1>
                        </div>
                        <div class="col l8 offset-l2  s12 ">
                            <br>
                                <div class="grey-text text-darken-2 center-align" style="text-align:justify;font-size:1.2rem;">
                                        JL Test (JobLana Test) is India's Fastest Employability Assessment Test conducted by JobLana in most of metro cities in india and is recognized by over 500 companies.JL Test is a platform where job-seekers have access to hundreds of recruiters from across
                                        the country, based on a completely objective and standardized score, dramatically improving their chances of getting their dream job, with much less effort.
                
                                </div>
                                <br>
                                <br>
                                <center>

                                    <a style="background:transparent;box-shadow:0px 0px 0px 2px #646af2 !important; color:#646af2;" class="btn btn-large z-depth-0"  href="/about-jl-test">
                                        <b>READ MORE</b>
                                    </a>
                                </center>
                                <div class="row"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row white rowbody" style="height:120%;overflow: hidden;margin-top:-20px">
            <div style="width:100%;height:100%;display:flex;">
                <div style="flex:1;margin:auto;">
                        <div class="col s12 ">
                                <h1 class="center-align grey-text" style="font-size:3em; ">
                                    Reasons To Give JL TEST
                                </h1><br><br>
                            </div>
                            <div class="col l10 offset-l1 s12">
                                    <div class="col l3 s12">
                                            <center>
                                                <div class="card z-depth-5 light-blue-text">
                                                    
                                                        <img style="width:100%;" src="img/card_offers.png" alt=" ">
                                                                                                           
                                                            <div>
                                                            <br>
                                                            Get Job Offers from enterprises directly
                                                            <br><br>
                                                        </div>
                                                    
                                                </div>
                                            </center>
                                        </div>
                                        <div class="col l3 s12">
                                            <center>
                                                <div class="card z-depth-5 pink-text">
                                                    
                                                        <img style="width:100%; " src="img/card_salary.png" alt=" ">
                                                    
                                                    <div>
                                                        <br>
                                                            Better Annual <br> Packages
                                                        <br><br>
                                                    </div>
                                                </div>
                                            </center>
                                        </div>
                                        <div class="col s12 hide" style="height:10px; "></div>
                                        <div class="col l3 s12">
                                            <center>
                                                <div class="card z-depth-5">
                                                    
                                                        <img style="width:100%; " src="img/card_dreamjob.jpg" alt=" ">
                                                    
                                                        <div>
                                                            <br>
                                                            Opportunity to get placed in dream company
                                                            <br><br>
                                                        </div>
                                                    
                                                </div>
                                            </center>
                                        </div>
                                        <div class="col l3 s12">
                                            <center>
                                                <div class="card z-depth-5">
                                                   
                                                        <img style="width:100%;" src="img/card_highlight.png" alt=" ">
                                                    
                                                        <div>
                                                            <br>
                                                            Highlight yourself among <br> recruiters
                                                            <br><br>
                                                        </div>
                                                    
                                                </div>
                                            </center>
                                        </div>
                            </div>
                </div>
            </div>
        </div>

        <div class="row grey lighten-5  rowbody" style="height:100%;overflow: hidden;margin-top:-20px">
            <div style="width:100%;height:100%;display:flex;">
                <div style="flex:1;margin:auto;">
                        <div class="col s12 ">
                                <h1 class="center-align " style="font-size:3em; ">
                                    Our Partners                            
                                </h1><br><br>
                            </div>
                            <div class="col l8 offset-l2 s12">
                                    <div class="col l2 offset-l1 s6">
                                        <center>
                                            <div class="p-img z-depth-1" style="display:flex !important;width:100px !important;height:100px !important;--bg-col:#ea1c23;overflow: hidden !important;border-radius:100%;">
                                                <img style="width:100%;margin:auto;" src="../img/partners/airtel.jpg" alt=" ">
                                            </div>
                                        </center>
                                    </div>
                                    <div class="col l2 s6">
                                        <center>
                                            <div class="p-img z-depth-1" style="display:flex !important;width:100px !important;height:100px !important;--bg-col:#fe5d02;overflow: hidden !important;border-radius:100%;">
                                                <img style="width:100%;margin:auto" src="../img/partners/mi.jpg" alt=" ">
                                            </div>
                                        </center>
                                    </div>
                                    <div class="row hide-on-med-and-up show-on-small-only"></div>
                                    <div class="col l2 s6">
                                        <center>
                                            <div class="p-img z-depth-1" style="display:flex !important;width:100px !important;height:100px !important;--bg-col:#124191;overflow: hidden !important;border-radius:100%;">
                                                <img style="width:100%;margin:auto;" src="../img/partners/nokia.png" alt=" ">
                                            </div>
                                        </center>
                                    </div>
                                    <div class="col l2 s6">
                                        <center>
                                            <div class="p-img z-depth-1" style="display:flex !important;width:100px !important;height:100px !important;background-color:#fff !important;--bg-col:rgb(186, 83, 226);overflow: hidden !important;border-radius:100%;">
                                                <img style="width:100%;margin:auto;" src="../img/partners/tcs.jpg" alt=" ">
                                            </div>
                                        </center>
                                    </div>
                                    <div class="row hide-on-med-and-up show-on-small-only"></div>
                                    <div class="col l2 s12">
                                        <center>
                                            <div class="p-img z-depth-1" style="display:flex !important;width:100px !important;height:100px !important;--bg-col:rgb(127, 229, 243);background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                                <img style="width:100%;margin:auto;" src="../img/partners/hindustantimes.jpg" alt=" ">
                                            </div>
                                        </center>
                                    </div>
                                    <div class="col l12 s12">
                                        <center>
                                            
                                                <br>
                                                <h1 style="font-size:2em;">
                                                    <a style="background:transparent;box-shadow:0px 0px 0px 2px #aaa !important;color:#aaa !important;" class="btn btn-large z-depth-0" href="/joblana-recruiting-partners"><b>More+</b></a>
                                                </h1>
                                                <br>
                                            
                                        </center>
                                    </div>
                    
                    
                                </div>
                </div>
            </div>
        </div>





        
        



        <!-- HEADER END -->

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
        <script>
            $(document).ready(function() {
                M.AutoInit();
            });

            $("a.brand-logo > img").css('margin-left','0px');
        </script>
        <script>
            var WindowWidth = $(window).width();
            var rows = $('div.rowbody');
            console.log(WindowWidth);
            if(WindowWidth <= 425){
                rows.each(function(i){
                    if(i==0){

                    }
                    else{
                    $(this).css({'height':'auto'});
                    }
                });
            }
           
        </script>
</body>

</html>