<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/pre_head %>
</head>

<body class="grey lighten-4">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
        <!-- NAVIGATION BAR END -->

        <div class="row" style="height:30px;"></div>
        <!-- HEADER START -->
        <div class="row white-text blue darken-4">
            <div class="col l6 offset-l1 s12">
                <div class="row" style="height:50px;"></div>
                <h4>
                    <b>Job List</b>
                </h4>

                <div class="row" style="height:50px;"></div>
            </div>
        </div>
        <!-- HEADER END -->

        <!-- JOB DETAILS PANEL START -->
        <div class="row">
            <div class="row" style="height:50px;"></div>
            <div class="col l8 s12">
                <div class="col l11 offset-l1 s12">
                    <b class="grey-text">Post a Job For Free</b>
                </div>
                <div class="col l11 offset-l1 s12 card no-padd z-depth-0">
                    <div class="grey-text text-darken-2" style="padding:20px 20px 10px 20px;">
                        <i class="fas fa-briefcase fa-2x"></i> JOB DETAILS
                    </div>
                    <div class="divider"></div>
                    <div class="row" style="height:50px;"></div>
                    <div class="col s12">
                        <a href="../templates/itjob.html">IT JOBS</a> <br>
                        <a href="../templates/hrjob.html">HUMAN RESURCES</a><br>
                        <a href="../templates/smjob.html">SALES AND MARKITING</a> <br>
                        <a href="../templates/accjob.html">ACCUNTING</a> <br>
                        <a href="../templates/dmjob.html">DIGITAL MARKITING</a> <br>
                        <a href="../templates/osjob.html">OFFICE SUPPORT</a> <br>
                        <a href="../templates/calljob.html">CALLING (INBOUND/OUTBOUND)</a> <br>
                        <a href="../templates/opjob.html">OPERATIONS</a> <br>

                    </div>

                </div>
            </div>
            <div class="col l4 s12">
                <div class="col s12 no-padd">
                    <b class="grey-text">Recruitment Solutions for Employers</b>
                </div>
                <div class="col s11 card z-depth-0 no-padd">
                    <div class="col s12">
                        <br>
                        <h6><b>Hire Software Developers</b></h6>
                        <div style="font-size:1.2em">Assessed Database of 1 Lakh+ Software developers added every year.</div>
                        <br>
                    </div>
                </div>
                <div class="col s11 card z-depth-0 no-padd">
                    <div class="col s12">
                        <br>
                        <h6><b>Hire Software Developers</b></h6>
                        <div style="font-size:1.2em">Assessed Database of 1 Lakh+ Software developers added every year.</div>
                        <br>
                    </div>
                </div>
                <div class="col s11 card z-depth-0 no-padd">
                    <div class="col s12">
                        <br>
                        <h6><b>Hire Software Developers</b></h6>
                        <div style="font-size:1.2em">Assessed Database of 1 Lakh+ Software developers added every year.</div>
                        <br>
                    </div>
                </div>

            </div>
            <div class="row" style="height:50px;"></div>

        </div>
        <!-- JOB DETAILS PANEL END -->

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
</body>

</html>