<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/pre_head %>
    <meta name="description" content="Know all about Office Sector jobs and find the latest Operation jobs vacancy in India that is suitable for you, Apply Now">
    <meta name="keyword" content="Assessment test, freshers jobs, aptitude test, recruitment company, job offers, test for jobs, cv , resume, IT jobs, sales & marketing jobs, BPO jobs , accounting jobs , digital marketing jobs, operation jobs, HR jobs, office support jobs, freshers jobs after 12th ,  freshers jobs after bba,  freshers jobs after bca,  freshers jobs after graduation,  freshers jobs after btech,  freshers jobs after b.com,  freshers jobs after m.com, best assessment test,  freshers jobs in Delhi, freshers jobs in Banglore, freshers jobs in mumbai, freshers jobs in Ahmedabad, freshers jobs in chennai, freshers jobs in pune, cv for IT jobs , cv for sales job, cv for marking jobs ">

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
        <!-- NAVIGATION BAR END -->

        <div class="row" style="height:30px;"></div>
        <!-- HEADER START -->
        <div class="row white-text blue darken-4">
            <div class="col s12">
                <div class="row" style="height:50px;"></div>
                <h1>
                    <b>ALL ABOUT OPERATIONS JOBS IN INDIA</b>
                </h1>

                <div class="row" style="height:50px;"></div>
            </div>
        </div>
        <!-- HEADER END -->


        <div class="row" style="height:50px;"></div>
        <div class="row">
            <div class="col s10 offset-s2">

                <div class="col s10">
                    An operations manager is a senior role which involves overseeing the production of goods and/or provision of services. An operations manager has a broad role, and the specific responsibilities will vary between different companies, but generally it includes
                    monitoring and analysing the current system of production or provision to check it’s effective, and working out a strategy for improving if necessary. It’s an operations manager's job to make sure an organisation is running as well
                    as it possibly can, with a smooth efficient service that meets the expectations and needs of customers and clients. operations manager can work in many industries, from healthcare and hospitality to retail and insurance or manufacturing
                    and construction. They could even be situated in a multitude of environments in the public, voluntary or private sector.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12" style="height:50px;"></div>
            <div class="col l8 offset-l2 s12 card" style="border-radius:5px;">
                <div class="col s12">
                    <h5><b>Roles And Responsibilities in Operation Job</b></h5>
                    <div class="divider"></div>
                    <br><br>
                    <div>
                        <li class="ui message">
                            Handling customer queries, feedback, complaints and requests and resolve, Manage end-to-end email,
                        </li>
                        <li class="ui message">
                            Day to day process work with respect to coordination between different departments,
                        </li>
                        <li class="ui message">
                            ttTrack each step on CRM and OTRS and where work is struck or if there is any deviation, communicates status to process owner
                        </li>
                        <li class="ui message">
                            Work experience in a fast paced work environment (e-commerce preferred)
                        </li>
                        <li class="ui message">
                            Responsible for Database management using Advance excel, filter functions & formulas, Pivot Table & charts, Importing & exporting data, Validating & analysis, Collating data from different locations.
                        </li>
                        <li class="ui message">
                            Responsible for Monthly & daily report making, preparing & managing data.
                        </li>
                        <li class="ui message">
                            Data Management, Preparing daily reports, Sales Team co-ordinations, Excellent Communication skills (Written & Oral English)
                        </li>

                    </div>
                    <div class="col s12" style="height:50px;"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <h3 class="col l8 offset-l2">Latest Jobs</h3>
            <div id="joblistcon" class="col l8 offset-l2 s12">

            </div>
        </div>
        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
            <script>
                $(document).ready(function() {
                    M.AutoInit();
                    getJobList();
                });
            </script>
            <script>
                function getJobList() {
                    $.ajax({
                        url: window.location.origin + "/getjoblistings",
                        method: "GET",
                        dataType: "json",
                        success: function(response) {
                            let fulldata = response.data.filter(d => d.jobtitle == "operations").slice(0, 3);

                            console.log(fulldata);
                            joblistmaker(fulldata);
                        },
                        error: function(err) {
                            console.log(err);
                        }
                    });
                }

                function joblistmaker(data) {
                    console.log(data);
                    let JOBLISTCON = $('#joblistcon ');
                    JOBLISTCON.empty();
                    for (d in data) {
                        var EXP = expToMonth(data[d].experience);
                        let template =
                            `
            <div class="col l4 s12 " style="cursor:pointer;">
                        <div class="col s12 ui white card no-padd hoverable animated bounceIn" style="animation-delay:` + Math.random() * 1 + `s;border-radius:0px 0px 10px 10px;border-top:2px solid indigo">
                            <div class="col s12">
                                <h6 style="text-transform:uppercase;"><b>
                                    <i class="fas fa-building fa-1x grey-text lighten-2"></i>&nbsp;` + data[d].jobtitle + ` JOB</b>
                                    
                                </h6>
                                <small><i>` + data[d].companyname + `</i></small><br/>
                                <div class="col s12 no-padd">
                                    <div class="col s12 no-padd">
                                       <strong> EXP : ` + EXP + `</strong>
                                    </div>
                                    <div class="col s12 no-padd">
                                        <strong>  SALARY : ` + data[d].salary + `LPA </strong>
                                    </div>
                                    <div class="col s12 no-padd">
                                        <strong>  LOCATION : ` + data[d].location + `</strong> 
                                    </div>
                                </div>
                                <div class="col s12 no-padd">
                                    
                                <a href="/company-info/` + data[d].jobid + `">Read More</a>
                                    
        
                                </div>
                                    <div class="col s12 no-padd">
                                        <a href="/schedule" class="btn white indigo-text right accent-4 z-depth-0">
                                            <b>APPLY</b>
                                        </a>
                                    </div>
                                
                                </div>
                                </div>
                                <div class="row"></div>
                    </div>
            `;
                        template = template.replace(/null/gi, "Not Specified");
                        JOBLISTCON.append(template);
                        $(document).on('click', ".collapsible", function() {
                            $(this).collapsible();
                        });
                    }

                    function expToMonth(exp) {
                        switch (exp) {
                            case 'ef':
                                return '>12 MONTH';
                                break;
                            case 'e12':
                                return '+12 MONTH';
                                break;
                            case 'e24':
                                return '+24 MONTH';
                                break;
                            case 'e24p':
                                return '>24 MONTH';
                                break;
                        }
                    }
                }
            </script>
</body>

</html>