<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/pre_head %>
    <meta name='description' content='We currently have more than 500+ recruiters on board who actively take interview based on JL test scores.'>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
        <!-- NAVIGATION BAR END -->

        <div class="row" style="height:30px;"></div>
        <!-- HEADER START -->
        <div class="row white-text blue darken-4">
            <div class="col l6 offset-l1 s12">
                <div class="row" style="height:50px;"></div>
                <h1>
                    <b>Our Partners</b>
                </h1>

                <div class="row" style="height:50px;"></div>
            </div>
        </div>
        <!-- HEADER END -->

        <!-- JOB DETAILS PANEL START -->
        <div class="row">
            <div class="row" style="height:50px;"></div>
            <div class="col l10 offset-l1 s12 white">

                <div class="col  s12 card no-padd z-depth-0">
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:90%;margin:auto;" src="../img/partners/tcs.jpg" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#ea1c24 !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%;margin:auto;" src="../img/partners/airtel.jpg" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#803588 !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:77%; margin:auto;" src="../img/partners/byju.jpg" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:90%;margin:auto;" src="../img/partners/mahindra.png" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="row"></div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fe5d02 !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%; margin:auto;" src="../img/partners/mi.jpg" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#124191 !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%;margin:auto;" src="../img/partners/nokia.png" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%;margin:auto;" src="../img/partners/axisbank.jpg" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%;margin:auto;" src="../img/partners/capgemini.png" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="row"></div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%;margin:auto;" src="../img/partners/dell.jpg" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%;margin:auto;" src="../img/partners/dharma.jpg" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%; margin:auto;" src="../img/partners/hgs.jpg" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%;margin:auto;" src="../img/partners/himalya.jpg" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="row"></div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%;margin:auto;" src="../img/partners/hindustantimes.jpg" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%;margin:auto;" src="../img/partners/indiamart.png" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%;margin:auto;" src="../img/partners/itc.png" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#a10e38 !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:75%;margin:auto;" src="../img/partners/pnb.jpg" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="row"></div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:70%;margin:auto;" src="../img/partners/psit.jpg" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#145ab2 !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%;margin:auto;" src="../img/partners/reliance.png" alt="">
                            </div>
                        </center>
                    </div>
                    <div class="col l3 m4 s12">
                        <center>
                            <div class="p-img z-depth-1" style="display:flex !important;width:150px !important;height:150px !important;background-color:#fff !important;overflow: hidden !important;border-radius:100%;">
                                <img style="width:100%;margin:auto;" src="../img/partners/wipro.jpg" alt="">
                            </div>
                        </center>
                    </div>

                    <div class="row" style="height:50px;"></div>

                </div>
            </div>

            <div class="row" style="height:50px;"></div>

        </div>
        <!-- JOB DETAILS PANEL END -->

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
</body>

</html>