<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/pre_head %>
        <title></title>
</head>

<body class="grey lighten-4">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
        <!-- NAVIGATION BAR END -->

        <div class="row" style="height:30px;"></div>
        <!-- HEADER START -->
        <div class="row white-text blue darken-4">
            <div class="col l6 offset-l1 s12">
                <div class="row" style="height:50px;"></div>
                <h3>
                    <b>SAMPLE DOWNLOADS</b>
                </h3>

                <div class="row" style="height:50px;"></div>
            </div>
        </div>
        <!-- HEADER END -->

        <!-- JOB DETAILS PANEL START -->
        <div class="row">
            <div class="col l8 offset-l2">
                <div class="col s12">
                    <h4 class="grey-text">SAMPLE PAPERS</h4>
                </div>
                <div class="col s12 card no-padd z-depth-0">
                    <div class="row"></div>
                    <div class="col s12">
                        <ul class="collection">
                            <li class="collection-item">
                                English Proficiency
                                <a href="../downloads/General english.pdf" download>Download</a>
                            </li>
                            <li class="collection-item">
                                Quantitative Aptitude
                                <a href="../downloads/quant.pdf" download>Download</a>


                            </li>
                            <li class="collection-item">
                                Sales and marketing job roles
                                <a href="../downloads/Sales and marketing.pdf" download>Download</a>


                            </li>
                            <li class="collection-item">
                                HR Roles
                                <a href="../downloads/hr.pdf" download>Download</a>


                            </li>
                            <li class="collection-item">
                                Operations
                                <a href="../downloads/operations.pdf" download>Download</a>


                            </li>
                            <li class="collection-item">
                                Office Support
                                <a href="../downloads/office support.pdf" download>Download</a>


                            </li>
                            <li class="collection-item">
                                IT Job roles
                                <a href="../downloads/it jobs.pdf" download>Download</a>


                            </li>
                            <li class="collection-item">
                                Calling
                                <a href="../downloads/calling.pdf" download>Download</a>


                            </li>
                            <li class="collection-item">
                                Digital Marketing Jobs
                                <a href="../downloads/digital m.pdf" download>Download</a>


                            </li>
                            <li class="collection-item">
                                Accounting
                                <a href="../downloads/accounting.pdf" download>Download</a>


                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="height:50px;"></div>

        </div>
        <!-- JOB DETAILS PANEL END -->

        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
</body>

</html>