<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/pre_head %>
    <meta name='description' content='Our Vision - We aim to create a platform where the person can evaluate and distinguish themselves among recruiters and simultaneously provides a way for the companies to fetch the cream of the crop. '>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <!-- NAVIGATION BAR START -->
    <% include ../../partials/pre_header %>
        <!-- NAVIGATION BAR END -->

        <div class="row" style="height:30px;"></div>
        <!-- HEADER START -->
        <div class="row white-text blue darken-4">
            <div class="col l6 offset-l1 s12">
                <div class="row" style="height:50px;"></div>
                <h1>
                    <b>Why JOBLANA</b>
                </h1>

                <div class="row" style="height:50px;"></div>
            </div>
        </div>
        <!-- HEADER END -->

        <!-- JOB DETAILS PANEL START -->
        <div class="row">
            <div class="row" style="height:50px;"></div>
            <div class="col l10 offset-l1 s12">

                <div class="col s12 card z-depth-0">

                    <div class="divider"></div>
                    <br>
                    <div style="font-size:1.5em;">
                        Joblana is giving job opportunities in various sectors like human resources, office support, Calling (Inbound/Outbound), Digital Marketing, finance, accounting, creative services, Sales and marketing roles and IT Job roles(Software engineer, Systems analyst,
                        Business analyst, Technical support, Web developer, Software tester).

                    </div><br>
                    <div style="font-size:1.5em;">
                        JL Test is pen and paper based exam of 2 hours duration in which applicant have to solve 100 questions. These questions are divided in 4 Sections(Logical Reasoning, English Proficiency, Quantitative Aptitude, Domain Test for specific roles). JL Test consists
                        specific roles exam which applicant choose according to their educational and professional background while scheduling the test date. There are certain sections which are compulsory for every applicant(Logical Reasoning, English
                        Proficiency, Quantitative Aptitude).

                    </div><br>
                    <div style="font-size:1.5em;">
                        Each section have 25 questions and all questions are of equal marks. Maximum marks in JL Test is 800. Each wrong answer takes a quarter of the marks assigned to that question from your total(There is marking of -1 marks for each wrong answer and +4 for
                        each correct answer). The negative marking is small enough that if you are reasonably sure of an answer, you can take a chance and mark it on OMR marksheet. But be careful not to overdo it with guesses. Your accuracy could be the
                        difference between selection and disqualification.
                    </div><br>
                    <div style="font-size:1.5em;">
                        On the basis of applicants score in JL Test, an overall percentile is calculated for each candidate and applicants will be informed about their score through mail. Applicants can check their overall score and section-wise score on their JobLana account.
                        Applicants have to pay one time fees of amount 900INR for appearing for JL Test. Last day to apply for any exam date is 48 hours before the scheduled date. Within 1 week of JL Test, Result will be declared on applicants profile.
                        After that, it will take about 6-7 working days to get interview calls. Minimum qualification is 10+2 to appear for JL Test. Companies have vacancies for every profile whether you are 12th pass student, graduate , post-graduate
                        or Phd scholar. Those who are willing to change their jobs can also appear for exam and get interview calls from startups and MNCs.
                    </div>
                    <div class="row" style="height:20px;"></div>

                </div>
                <!-- JOB DETAILS PANEL END -->
            </div>
        </div>
        <!-- FOOTER START -->
        <% include ../../partials/pre_footer %>
            <!-- FOOTER END -->
</body>

</html>