<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About JobLana | Bringing Fresher job seekers closer to recruiters though an innovative assessment test
    </title>
    <meta name="description" content="JobLana is a platform giving opportunity to freshers and job seekers to get benchmarked score based on JL Test to 
    bring themselves closer to more than 2000 recruiters for getting hired and also meeting companies demands to acquire the best talent. 
    ">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/label.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TGKGPG3');
    </script>
    <!-- End Google Tag Manager -->
    <style>
        input:not([type]),
        input[type=text]:not(.browser-default),
        textarea,
        textarea:not(.browser-default) {
            border: 1px solid #eee;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0px 0px 0px 10px;
            background-color: transparent;
            box-shadow: 0px
        }
        
        input:not([type]):focus:not([readonly]),
        input[type=text]:not(.browser-default):focus:not([readonly]) {
            border: 1px solid #2962ff;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        input::-webkit-input-placeholder {
            color: grey;
        }
        
        .no-padd {
            padding: 0px !important;
        }
    </style>
</head>

<body class="">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <div id="navigationbar">
    </div>
    <!-- NAVIGATION BAR END -->

    <div class="row" style="height:30px;"></div>
    <!-- HEADER START -->
    <div class="row white-text blue darken-4">
        <div class="col l6 offset-l1 s12">
            <div class="row" style="height:50px;"></div>
            <h1>
                <b>About Joblana</b>
            </h1>

            <div class="row" style="height:50px;"></div>
        </div>
    </div>
    <!-- HEADER END -->

    <!-- JOB DETAILS PANEL START -->
    <div class="row">
        <div class="row" style="height:50px;"></div>
        <div class="col s10 offset-s1">
            <div class="col  s12 card no-padd z-depth-1">
                <div class="col s12">
                    <blockquote>

                        <li style="font-size:1.3em;word-spacing:10px;">
                            <b>JobLana</b> is a platform giving opportunity to freshers and job seekers to get benchmarked score based on JL Test to bring themselves closer to more than 2000 recruiters for getting hired and also meeting companies demands
                            to acquire the best talent.
                            <br><br> Whether you’re a professional looking for jobs, or an employer searching for the best talents for your organisation, we’re here to help! Committed to our mission to find jobs for people they’ll love and connect companies
                            with the talent they need.
                            <br><br> For job-seekers, Joblana provides a platform to build your CV and help you to get a call from hundreds of recruiters based on your JL Test score plus you have access to apply for regular job openings from our partner
                            companies that dramatically improving your chances of getting your dream job, with much less effort.
                            <br><br> For recruiters, Joblana provide best way to reach out more than 40,000+ qualified candidates evaluated using standardized evaluation criteria with the ease of JL Test and getting the best candidate without any of the
                            hassles but with huge savings in cost and effort. We specialize in recruiting for human resources, office support, finance, accounting, creative services, IT Job roles and marketing roles.
                        </li>
                    </blockquote>
                </div>
                <div class="row" style="height:50px;"></div>

            </div>
        </div>
        <div class="row" style="height:50px;"></div>

        <!-- JOB DETAILS PANEL END -->
    </div>

    <!-- FOOTER START -->
    <div id="myfooter">

    </div>
    <!-- FOOTER END -->


    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/myfooter.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            M.AutoInit();
        });
    </script>
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
    <script>
        window.fcWidget.init({
            token: "4281856b-8aa2-4b5e-8108-4171813716e5",
            host: "https://wchat.freshchat.com"
        });
    </script>
</body>

</html>