<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/label.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TGKGPG3');
    </script>
    <!-- End Google Tag Manager -->
    <style>
        
        input:not([type]), input[type=text]:not(.browser-default){
    
            border: none;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0;
            background-color: transparent;
            box-shadow:0px
        }
        input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]){
            border-bottom:none;
            -webkit-box-shadow:none;
            box-shadow:none;
        }
        input::-webkit-input-placeholder{
            color: #eee;
        } 
        .no-padd{
            padding:0px !important;
        }      

    </style>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <div id="navigationbar"></div>
    <!-- NAVIGATION BAR END -->

    
    <div class="row" style="height:50px;"></div>
    <div class="row">
        <div class="col s10 offset-s2">
            <h1><b>ACCOUNTING JOBS</b></h1>
            <div class="col s10">
                    A qualified Accountant has to handle prepare, compute, manage, research and analyze all accounting data, in order to provide quantitative information on performance, financial position, solvency, liquidity and cash flows of our business. While hiring for accountant, companies required having working experience as a cost accountant or in a relevant field and also have knowledge of accounting and corporate finance principles and procedures. an accountant, will spend their time filing bills from vendors or entering the same kind of transaction over and over. There are so many vacancies of  accountants in companies.
            </div>
        </div>
    </div>

    <div class="row grey lighten-2">
        <div class="col s12 grey lighten-2" style="height:50px;"></div>
        <div class="col l8 offset-l2 s12 card" style="border-radius:5px;">
            <div class="col s12">
                <h5><b>Job Responsibilities</b></h5>
                <div class="divider"></div>
                <br><br>
                    <div class="col s12">
                        <li class="ui message">
                            Prepares asset, liability, and capital account entries by compiling and analyzing account information.
                        </li>
                        <li class="ui message">
                            Preparing financial and other statements.
                        </li>
                        <li class="ui message">
                            Prepares payments by verifying documentation, and requesting disbursements.
                        </li>
                        <li class="ui message">
                            Documents financial transactions by entering account information.
                        </li>
                        <li class="ui message">
                            Recommends financial actions by analyzing accounting options.
                        </li>
                        <li class="ui message">
                            Summarizes current financial status by collecting information; preparing balance sheet, profit and loss statement, and
                            other reports.
                        </li>
                        <li class="ui message">
                            Manage all accounting operations based on accounting principles
                        </li>
                        <li class="ui message">
                            Substantiates financial transactions by auditing documents.
                        </li>
                        <li class="ui message">
                            Keep information confidential and secure them with random database backups
                        </li>
                        <li class="ui message">
                            Keep up with financial policies, regulation and legislation
                        </li>
                        <li class="ui message">
                            Issue invoices and update accounts receivable, payable and perform reconciliations
                        </li>
                        <li class="ui message">
                            Answers accounting procedure questions by researching and interpreting accounting policy and regulations.
                        </li>
                        <li class="ui message">
                            Provide internal and external auditing services.
                        </li>
                    </div>
            </div>
            <div class="col s12" style="height:50px;"></div>
        </div>
    </div>
     <!-- FOOTER START -->
     <div id="myfooter">
    </div>
    <!-- FOOTER END -->

   
    
    

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../js/myfooter.js"></script>
<script src="../js/userprofile.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
      M.AutoInit();
  });
</script>
</body>

</html>