<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Freshers job in India , Job opportunity in India , Job offers in India | JobLana</title>
    <meta name='description' content="Find latest freshers jobs in India. Search for best suitable job vacancies in India' s
        top companies and apply for IT, MBA, accounting, BPO, marketing and sales & other jobs in India.">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="../js/myfooter.js"></script>

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/label.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start ': new Date().getTime(),
                event: 'gtm.js '
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer ' ? '&l=' + l : ' ';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, ' script ', 'dataLayer ', 'GTM-TGKGPG3 ');
    </script>
    <!-- End Google Tag Manager -->
    <style>
        input:not([type]),
        input[type=text]:not(.browser-default) {
            border: none;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0;
            background-color: transparent;
            box-shadow: 0px
        }

        input:not([type]):focus:not([readonly]),
        input[type=text]:not(.browser-default):focus:not([readonly]) {
            border-bottom: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        input::-webkit-input-placeholder {
            color: #eee;
        }

        .no-padd {
            padding: 0px !important;
        }
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <div id="navigationbar"></div>
    <!-- NAVIGATION BAR END -->


    <div class="row" style="height:50px;"></div>
    <div id="userprofile" class="row no-padd">

    </div>

    <div class="row">
        <div class="col s12" style="height:50px;"></div>
        <div class="col l8 offset-l2 s12" style="border-radius:5px;border:1px solid #aaa;">
            <div class="col s12">
                <h5>
                    <b>JOBS IN INDIA</b>
                </h5>
                <div class="divider"></div>
                <br>
                <div id="joblistcon">

                </div>
            </div>
        </div>
        <div class="col s12" style="height:50px;"></div>
    </div>
    <!-- FOOTER START -->
    <div id="myfooter">
    </div>
    <!-- FOOTER END -->





    <!-- Compiled and minified JavaScript -->
    <script src="../js/userprofile.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            M.AutoInit();
            //getJobList();
            getJobList();

        });

        function getJobList() {
            $.ajax({
                url: window.location.origin + "/getjoblistings",
                method: "GET",
                dataType: "json",
                success: function (response) {
                    let fulldata = response.data;
                    console.log(fulldata);
                    joblistmaker(fulldata);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function joblistmaker(data) {
            console.log(data);
            let JOBLISTCON = $('#joblistcon ');
            JOBLISTCON.empty();
            for (d in data) {
                var EXP = expToMonth(data[d].experience);
                let template =
                    `
        <div class="col s12 " >
                    <div class="col s12 card no-padd" >
                        <div class="col s12">
                            <h4 style="text-transform:uppercase;"><b>
                                <i class="fas fa-building fa-1x grey-text lighten-2"></i>&nbsp;`+data[d].jobtitle+`</b>
                                <i class="fas fa-certificate  amber-text"></i>
                            </h4>
                            <h5><i>`+ data[d].companyname+`</i></h5>
                            <div class="col s12 no-padd">
                                <div class="col l3 s12 no-padd">
                                   <div class="ui label"> EXP : `+EXP+`</div>
                                </div>
                                <div class="col l3 s12 no-padd">
                                    <div class="ui label">  SALARY : `+data[d].salary+`LPA </div>
                                </div>
                                <div class="col l3 s12 no-padd">
                                    <div class="ui label">  LOCATION : `+data[d].location+`</div> 
                                </div>
                                <div class="col l3 s12 no-padd">
                                    <a href="/schedule" class="btn indigo accent-4 z-depth-0">
                                        <b>APPLY</b>
                                    </a>
                                </div>
                            </div>
                            <div class="col s12">
                            <ul class="collapsible z-depth-0">
                                <li>
                                    <div class="collapsible-header">Job Description</div>
                                    <div class="collapsible-body">
                                        <span>`+data[d].jobdesc+`</span>
                                    </div>
                                </li>
                            </ul>
                            </div>
                            
                            </div>
                            </div>
                            <div class="row"></div>
                </div>
        `;
                template = template.replace(/null/gi, "Not Specified");
                JOBLISTCON.append(template);
                $(document).on('click', ".collapsible", function () {
                    $(this).collapsible();
                });
            }

            function expToMonth(exp) {
                switch (exp) {
                    case 'ef':
                        return '>12 MONTH';
                        break;
                    case 'e12':
                        return '+12 MONTH';
                        break;
                    case 'e24':
                        return '+24 MONTH';
                        break;
                    case 'e24p':
                        return '>24 MONTH';
                        break;
                }
            }
        }
    </script>
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
    <script>
        window.fcWidget.init({
            token: "4281856b-8aa2-4b5e-8108-4171813716e5",
            host: "https://wchat.freshchat.com"
        });
    </script>
</body>

</html>