<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Contact JobLana | Reach out to us for JL assessment test, jobs and  recruitment </title>
    <meta name='description' content=' Contact us if you’re student, job seeker, fresher, recruiter, company, media etc and ask any query about JobLana and Jl Test.'>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/label.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TGKGPG3');
    </script>
    <!-- End Google Tag Manager -->
    <style>
        input:not([type]),
        input[type=text]:not(.browser-default),
        textarea,
        textarea:not(.browser-default) {
            border: 1px solid #eee;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0px 0px 0px 10px;
            background-color: transparent;
            box-shadow: 0px
        }

        input:not([type]):focus:not([readonly]),
        input[type=text]:not(.browser-default):focus:not([readonly]) {
            border: 1px solid #2962ff;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        input::-webkit-input-placeholder {
            color: grey;
        }

        .no-padd {
            padding: 0px !important;
        }
    </style>
</head>

<body class="grey lighten-4">
<!-- Google Tag Manager (noscript) -->
<noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <div id="navigationbar">
    </div>
    <!-- NAVIGATION BAR END -->

    <div class="row" style="height:30px;"></div>
    <!-- HEADER START -->
    <div class="row white-text blue darken-4">
        <div class="col l6 offset-l1 s12">
            <div class="row" style="height:50px;"></div>
            <h4>
                <b>Contact Us</b>
            </h4>
            <div class="col s12">

            </div>
            <div class="row" style="height:50px;"></div>
        </div>
    </div>
    <!-- HEADER END -->

    <!-- JOB DETAILS PANEL START -->
    <div class="row">
        <div class="row" style="height:50px;"></div>
        <div class="col l8 s12">
            <div class="col l11 offset-l1 s12">
                <b class="grey-text">Feedback Form</b>
            </div>
            <div class="col l11 offset-l1 s12 card no-padd z-depth-0">
                <div class="col s12">
                    <div>
                        <script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
                        <style type="text/css" media="screen, projection">
                            @import url(http://assets.freshdesk.com/widget/freshwidget.css);
                        </style>
                        <iframe title="Feedback Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="https://joblana.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&formTitle=Support+%26+Query&submitTitle=Send+Query&submitThanks=We'll+get+back+to+you+soon!+&screenshot=No"
                            scrolling="no" height="500px" width="100%" frameborder="0">
                        </iframe>
                    </div>
                </div>
                <div class="row" style="height:50px;"></div>

            </div>
        </div>
        <div class="col l4 s12">
            <div class="col s12 no-padd">
                <b class="grey-text">Feel free to contact our world class customer support.</b>
            </div>
            <div class="col s11 card z-depth-0 no-padd">
                <div class="col s12">
                    <br>
                    <h6><b>Address</b></h6>
                    <div style="font-size:1.2em">7/3-B EASE PATEL NAGAR DELIH-110008</div>
                    <h6><b>Phone no</b></h6>
                    <div style="font-size:1.2em">1234567890</div>
                    <h6><b>Email Address</b></h6>
                    <div style="font-size:1.2em">no-reply@joblana.com</div>
                    <br>
                </div>
            </div>
        </div>
        <div class="row" style="height:50px;"></div>

    </div>
    <!-- JOB DETAILS PANEL END -->

    <!-- FOOTER START -->
    <div id="myfooter">

    </div>
    <!-- FOOTER END -->


    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/myfooter.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            M.AutoInit();
        });
    </script>
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
    <script>
            window.fcWidget.init({
              token: "4281856b-8aa2-4b5e-8108-4171813716e5",
              host: "https://wchat.freshchat.com"
            });
          </script>
</body>

</html>