<footer class="page-footer indigo accent-4">
        <div class="row container">
            <div class="col s12 white-text">
                <div class="col s6">
                    <h4><b>What are you waiting for?</b></h4>
                </div>
                <div class="col s6">
                    <br>
                    <a class="col s12 btn white indigo-text z-depth-0" href="/signup"><b>Get a job now</b></a>
                </div>
            </div>
            <div class="col s12"></div>
            
            <div class="col l8 s12">
                <div class="col s12 no-padd">
                    <br>
                    <h5>Links</h5>
                <ul>
                    <div class="col l3 s8 offset-s2 center no-padd">
                            <li><a class="white-text" href="../templates/about.html">About us</a></li>
                            <li><a class="white-text" href="../templates/contact.html">Contact us</a></li>
                            <li><a class="white-text" href="../templates/faq.html">F.A.Q</a></li>
                            <li><a class="white-text" href="../templates/whyjl.html">Why <b>JOBLANA</b></a></li>
                    </div>
                    <div class="col l3 s8 offset-s2 center no-padd">
                            <li><a class="white-text" href="">Blog</a></li>
                            <li><a class="white-text" href="../templates/partners.html">Our partners</a></li>
                            <li><a class="white-text" href="../templates/jltest.html">About <b>JL TEST</b></a></li>
                            <li><a class="white-text" href="../templates/how.html">How it works</a></li>
                    </div>
                    <div class="col l3 s8 offset-s2 center no-padd">
                            <li><a class="white-text" href="../templates/recruiters.html">Post a job</a></li>
                            <li><a class="white-text" href="../templates/schedule.html">Upcoming tests</a></li>
                            <li><a class="white-text" href="../templates/joblist.html">Job Listings</a></li>
                            <li><a class="white-text" href="../templates/login.html">Logout</a></li>
                    </div>
                    
                    
                    
    
    
                </ul>
                </div>
                <div class="col l4 s12 no-padd">
                    <br>
                    <h5>Connect</h5>
                    <ul>
                        <li>
                            <div class="col s12 no-padd">
                                        <i class="col s4 fab fa-facebook-square fa-3x"></i>
                                        <i class="col s4 fab fa-twitter-square fa-3x"></i>
                                        <i class="col s4 fab fa-linkedin fa-3x"></i>
                            </div>
                        </li>
                        <li>
                            <div class="row"></div>
                            <div class="col s12 no-padd">Phone :</div>
                        </li>
                        <li>
                            <div class="col s12 no-padd">Email :</div>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col l4 s12">
                <div class="col s12" style="height:50px;"></div>
                    <div class="col s12">
                        <ul>
                            <li>
    
                                <a class="white-text" href="../templates/itjob.html">IT JOBS</a> <br>
                            </li>
                            <li>
                                <a class="white-text" href="../templates/hrjob.html">HUMAN RESURCES</a><br>
    
                            </li>
                            <li>
                                <a class="white-text" href="../templates/smjob.html">SALES AND MARKITING</a> <br>
    
                            </li>
                            <li>
    
                                <a class="white-text" href="../templates/accjob.html">ACCUNTING</a> <br>
                            </li>
                            <li>
    
                                <a class="white-text" href="../templates/dmjob.html">DIGITAL MARKITING</a> <br>
                            </li>
                            <li>
    
                                <a class="white-text" href="../templates/osjob.html">OFFICE SUPPORT</a> <br>
                            </li>
                            <li>
    
                                <a class="white-text" href="../templates/calljob.html">CALLING (INBOUND/OUTBOUND)</a> <br>
                            </li>
                            <li>
    
                                <a class="white-text" href="../templates/opjob.html">OPERATIONS</a> <br>
                            </li>
                        </ul>
                            
                        </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>