<footer class="page-footer indigo accent-4">
    <div class="row container">
        <div class="col s12 white-text">
            <h4><b>Already convinced</b></h4>
        </div>
        <div class="col s6">
            <h3><b>JOBLANA</b></h3>
        </div>
        <div class="col l3 s12">
            <br>
            <h5>Links</h5>
            <ul>
                <li><a class="white-text" href="">About Us</a></li>
                <li><a class="white-text" href="">Contact Us</a></li>
                <li><a class="white-text" href="">FAQ</a></li>
                <li><a class="white-text" href="">Why Joblana</a></li>
                <li><a class="white-text" href="">Blog</a></li>
                <li><a class="white-text" href="">Our Partners</a></li>
                <li><a class="white-text" href="">JL Test</a></li>
                <li><a class="white-text" href="">How it works</a></li>
                <li><a class="white-text" href="">Post a Job</a></li>
                <li><a class="white-text" href="">Upcoming Tests</a></li>

            </ul>
        </div>
        <div class="col l3 s12">
            <br>
            <h5>Connect with us</h5>
            <ul>
                <li><a class="white-text" href="">Phone No.</a></li>
                <li><a class="white-text" href="">Email-id</a></li>
                <li><a class="white-text" href="">Linkedin</a></li>
                <li><a class="white-text" href="">Facebook</a></li>
                <li><a class="white-text" href="">Twitter</a></li>

            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>