<footer class="page-footer indigo accent-4">
    <div class="row container">
        <div class="col s12 white-text">
            <h4>
                <b>Already convinced</b>
            </h4>
        </div>
        <div class="col s6">
            <h3>
                <b>JOBLANA</b>
            </h3>
        </div>
        <div class="col l3 s12">
            <br>
            <h5>Service</h5>
            <ul id="nav-mobile" class="hide-on-med-and-up">
                    <li>
                        <a class="btn white blue-text z-depth-0" style="border-radius:3px;" href="/templates/profile.html"><b>My Profile</b></a>
                    </li><br>
                    <li>
                        <a class="btn white blue-text z-depth-0" style="border-radius:3px;" href="/templates/schedule.html"><b>Upcoming tests</b></a>
                    </li><br>
                    <li>
                        <a class="btn light-blue white-text z-depth-0" style="border-radius:3px;" href="/logout"><b>Logout</b></a>
                    </li><br>
            </ul>
        </div>
        <div class="col l3 s12">
            <br>
            <h5>About us</h5>
            <ul class="hide-on-med-and-up">
                <li>

                    <a id="l1" href="../templates/profile.html" class="btn white blue-text z-depth-2">
                        <b>Profile</b>
                    </a>
                </li><br>
                <li>

                    <a id="l2" href="../templates/myscore.html" class="btn white blue-text z-depth-2">
                        <b>My Score</b>
                    </a>
                </li><br>
                <li>

                    <a id="l3" href="../templates/comlist.html" class="btn white blue-text z-depth-2">
                        <b>Job Opportunities</b>
                    </a>
                </li><br>
                <li>

                    <a id="l4" href="../templates/myjob.html" class="btn white blue-text z-depth-2">
                        <b>My Job</b>
                    </a>
                </li><br>
                <li>
                    <a id="l5" href="../templates/schedule.html" class="btn white blue-text z-depth-2">
                        <b>Schedule Test</b>
                    </a>
                </li><br>

            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>