<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>How it works? | Path to get job through JobLana platform</title>
    <meta name='description' content='Get closer to your dream job though by following these path on JobLana platform
    '>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/label.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Google Tag Manager -->
    <script> 
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TGKGPG3');
    </script>
    <!-- End Google Tag Manager -->
    <style>
        input:not([type]),
        input[type=text]:not(.browser-default),
        textarea,
        textarea:not(.browser-default) {
            border: 1px solid #eee;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0px 0px 0px 10px;
            background-color: transparent;
            box-shadow: 0px
        }
        
        input:not([type]):focus:not([readonly]),
        input[type=text]:not(.browser-default):focus:not([readonly]) {
            border: 1px solid #2962ff;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        input::-webkit-input-placeholder {
            color: grey;
        }
        
        .no-padd {
            padding: 0px !important;
        }
    </style>
</head>

<body class="grey lighten-4">
<!-- Google Tag Manager (noscript) -->
<noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <div id="navigationbar">
    </div>
    <!-- NAVIGATION BAR END -->

    <div class="row" style="height:30px;"></div>
    <!-- HEADER START -->
    <div class="row white-text blue darken-4">
        <div class="col l6 offset-l1 s12">
            <div class="row" style="height:50px;"></div>
            <h4>
                <b>How It Works</b>
            </h4>
            
            <div class="row" style="height:50px;"></div>
        </div>
    </div>
    <!-- HEADER END -->

    <!-- JOB DETAILS PANEL START -->
    <div class="row">
        <div class="row" style="height:50px;"></div>
        <div class="col l10 offset-l1 s12">
            <div class="col  s12 card z-depth-0">
                <div class="grey-text text-darken-2" style="padding:20px 20px 10px 20px;">
                    How It Works
                </div>
                <div class="divider"></div>
                <div>
                    <br>
                    <div class="col s12">
                        <img style="width:100%;" src="../img/howit.png" alt="">
                    </div>
                    <ul style="font-size:1.3em;">
                        <li>

                            1- Firstly, Candidate have to register for JL Test on joblana.com and Fill up Job Profile to build a professional CV and then schedule a test date, test centre, and book a seat by paying 900 INR through online payment gateway.
                        </li><br>
                        <li>
                            
                            2- Candidate will receive admit card including exam center location and timing. From then, applicants will start getting new job updates continuously through mail.
                        </li><br>
                        <li>
                                3- Candidate needs to bring the admit card and ID proof at the test centre on the test date. 

                        </li><br>
                        <li>
                            4- JL Test is pen and paper based exam of 2 hours duration and candidate have to submit OMR sheet to invigilator.

                        </li><br>
                        <li>
                            5- Within 1 week of exam, Candidate will get result notification through mail and can check JL Score on its joblana account. 

                        </li><br>
                        <li>

                            6- After getting score, Applicant will be able to apply for various companies vacancies and automatic mail will be forwarded to recruiters within seconds after applying for positions. 
                        </li><br>
                        <li>

                            7- Within 6-7 working days, Applicant will start getting interview calls from startups and MNCs.
                        </li><br>
                            
                    </ul>
                </div>
                <div class="row" style="height:50px;"></div>
                
            </div>
        </div>
        <div class="row" style="height:50px;"></div>

    </div>
    <!-- JOB DETAILS PANEL END -->

    <!-- FOOTER START -->
    <div id="myfooter">

    </div>
    <!-- FOOTER END -->


    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/myfooter.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            M.AutoInit();
        });
    </script>
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
    <script>
            window.fcWidget.init({
              token: "4281856b-8aa2-4b5e-8108-4171813716e5",
              host: "https://wchat.freshchat.com"
            });
          </script>
</body>

</html>