<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All about HR jobs -Roles & Responsibilities, latest HR jobs vacancy in india | JobLana</title>
    <meta name="description" content="Know all about HR jobs and find the latest HR jobs vacancy in India that is suitable for you, Apply Now">
    <meta name="keyword" content="Assessment test, freshers jobs, aptitude test, recruitment company, job offers, test for jobs, cv , resume, IT jobs, sales & marketing jobs, BPO jobs , accounting jobs , digital marketing jobs, operation jobs, HR jobs, office support jobs, freshers jobs after 12th ,  freshers jobs after bba,  freshers jobs after bca,  freshers jobs after graduation,  freshers jobs after btech,  freshers jobs after b.com,  freshers jobs after m.com, best assessment test,  freshers jobs in Delhi, freshers jobs in Banglore, freshers jobs in mumbai, freshers jobs in Ahmedabad, freshers jobs in chennai, freshers jobs in pune, cv for IT jobs , cv for sales job, cv for marking jobs ">

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/label.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TGKGPG3');
    </script>
    <!-- End Google Tag Manager -->
    <style>
        input:not([type]),
        input[type=text]:not(.browser-default) {
            border: none;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0;
            background-color: transparent;
            box-shadow: 0px
        }

        input:not([type]):focus:not([readonly]),
        input[type=text]:not(.browser-default):focus:not([readonly]) {
            border-bottom: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        input::-webkit-input-placeholder {
            color: #eee;
        }

        .no-padd {
            padding: 0px !important;
        }
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <div id="navigationbar"></div>
    <!-- NAVIGATION BAR END -->


    <div class="row" style="height:30px;"></div>
    <div class="row white-text blue darken-4">
        <div class="col s12">
            <div class="row" style="height:50px;"></div>
            <h1>
                <b>ALL ABOUT HUMAN RESURCES JOBS IN INDIA</b>
            </h1>
            <div class="row" style="height:50px;"></div>
        </div>
    </div>
    <div class="row" style="height:50px;"></div>
    <div class="row">
        <div class="col s8 offset-s2">
            Human resource assistants are the behind-the-scenes collaborators and colleagues whose main job responsibilities are focused
            on helping HR directors and managers accomplish HR-related tasks. A good human resources employee develops and
            manages their company’s culture. They recruit new hires, maintain benefits and payroll, mediate conflict and
            engage in training and development. Their role is at the core of a company’s success. Entering the field with
            a bachelor’s degree gives you access to more options, including working in employee relations, HR information
            systems, training and development, labor relations or as a compensation or benefit analyst. There are lots of
            opportunities in this field and many giant companoes are looking for good candidates for this role.
        </div>
    </div>

    <div class="row  lighten-2">
        <div class="col s12" style="height:50px;"></div>
        <div class="col l8 offset-l2 s12 card" style="border-radius:5px;">
            <div class="col s12">
                <h5>
                    <b>Roles and Responsiblities in HR Jobs</b>
                </h5>
                <div class="divider"></div>
                <br>
                <br>
                <div class="col s12">
                    <li class="ui message">
                        Compile and update employee records.
                    </li>
                    <li class="ui message">
                        Plan, execute, and measure experiments and conversion tests
                    </li>
                    <li class="ui message">
                        Process documentation and prepare reports relating to personnel activities (staffing, recruitment, training, grievances,
                        performance evaluations etc)
                    </li>
                    <li class="ui message">
                        Compiling projects like meetings, training etc and reporting
                    </li>
                    <li class="ui message">
                        Clearing doubt and Employee question. Creating and distributing documents Providing customer service to organization employees
                    </li>
                    <li class="ui message">
                        Assist with day to day operations of the HR functions and duties
                    </li>
                    <li class="ui message">
                        Setting appointments and arranging meetings,
                    </li>
                    <li class="ui message">
                        Provide clerical and administrative support to Human Resources executives
                    </li>

                    <li class="ui message">
                        Deal with employee requests regarding human resources issues, rules, and regulations
                    </li>
                    <li class="ui message">
                        Coordinate communication with candidates and schedule and conduct interviews
                    </li>
                    <li class="ui message">
                        Conduct initial orientation to newly hired employees
                    </li>
                </div>
            </div>
            <div class="col s12" style="height:50px;"></div>
        </div>
    </div>
    <!-- FOOTER START -->
    <div id="myfooter">
    </div>
    <!-- FOOTER END -->





    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/myfooter.js"></script>
    <script src="../js/userprofile.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            M.AutoInit();
        });
    </script>
    <script>
            function getJobList() {
                $.ajax({
                    url: window.location.origin + "/getjoblistings",
                    method: "GET",
                    dataType: "json",
                    success: function(response) {
                        let fulldata = response.data.filter(d=>d.jobtitle=="it").slice(0,3);
    
                        console.log(fulldata);
                        joblistmaker(fulldata);
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            }
    
            function joblistmaker(data) {
                console.log(data);
                let JOBLISTCON = $('#joblistcon ');
                JOBLISTCON.empty();
                for (d in data) {
                    var EXP = expToMonth(data[d].experience);
                    let template =
                        `
            <div class="col l4 s12 " style="cursor:pointer;">
                        <div class="col s12 ui white card no-padd hoverable animated bounceIn" style="animation-delay:`+Math.random()*1+`s;border-radius:0px 0px 10px 10px;border-top:2px solid indigo">
                            <div class="col s12">
                                <h6 style="text-transform:uppercase;"><b>
                                    <i class="fas fa-building fa-1x grey-text lighten-2"></i>&nbsp;` + data[d].jobtitle + ` JOB</b>
                                    
                                </h6>
                                <small><i>` + data[d].companyname + `</i></small><br/>
                                <div class="col s12 no-padd">
                                    <div class="col s12 no-padd">
                                       <strong> EXP : ` + EXP + `</strong>
                                    </div>
                                    <div class="col s12 no-padd">
                                        <strong>  SALARY : ` + data[d].salary + `LPA </strong>
                                    </div>
                                    <div class="col s12 no-padd">
                                        <strong>  LOCATION : ` + data[d].location + `</strong> 
                                    </div>
                                </div>
                                <div class="col s12 no-padd">
                                    
                                <a href="/company-info/`+data[d].jobid+`">Read More</a>
                                    
        
                                </div>
                                    <div class="col s12 no-padd">
                                        <a href="/schedule" class="btn white indigo-text right accent-4 z-depth-0">
                                            <b>APPLY</b>
                                        </a>
                                    </div>
                                
                                </div>
                                </div>
                                <div class="row"></div>
                    </div>
            `;
                    template = template.replace(/null/gi, "Not Specified");
                    JOBLISTCON.append(template);
                    $(document).on('click', ".collapsible", function() {
                        $(this).collapsible();
                    });
                }
    
                function expToMonth(exp) {
                    switch (exp) {
                        case 'ef':
                            return '>12 MONTH';
                            break;
                        case 'e12':
                            return '+12 MONTH';
                            break;
                        case 'e24':
                            return '+24 MONTH';
                            break;
                        case 'e24p':
                            return '>24 MONTH';
                            break;
                    }
                }
            }
        
        </script>
</body>

</html>