<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/label.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TGKGPG3');
    </script>
    <!-- End Google Tag Manager -->
    <style>
        
        input:not([type]), input[type=text]:not(.browser-default){
    
            border: none;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0;
            background-color: transparent;
            box-shadow:0px
        }
        input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]){
            border-bottom:none;
            -webkit-box-shadow:none;
            box-shadow:none;
        }
        input::-webkit-input-placeholder{
            color: #eee;
        } 
        .no-padd{
            padding:0px !important;
        }      

    </style>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <div id="navigationbar"></div>
    <!-- NAVIGATION BAR END -->

    
    <div class="row" style="height:50px;"></div>
    <div class="row">
        <div class="col s12 red">

            <div class="col s10 offset-s2">
                <h1><b>IT JOBS</b></h1>
            </div>
        </div>
            <div class="col s8 offset-s2">
                    Over the years, Indian IT companies feverishly built their so-called pyramid model that involved hiring thousands of fresh engineering graduates annually and quickly deploying them on software projects to ensure overall costs remained low. This industry creates lakhs of IT jobs in india and employs around 4 million people. IT sector is one of the most booming sectors in India as majority of white-collar jobs are focused in this sector. The sector has increased its contribution to India's GDP from 1.2% in 1998 to 7.5% in 2012. IT sector is primarily divided in 2 domains i.e. Product-based companies and Service-based companies. Product based companies are those that create some products like Microsoft, PayTM, Amazon, etc are product based companies. Service-based companies are those that work on these products to provide service to the client. For Example: TCS, Wipro etc are service-based companies.
            </div>
    </div>

    <div class="row lighten-2">
        <div class="col s12 lighten-2" style="height:50px;"></div>
        <div class="col l8 offset-l2 s12 card" style="border-radius:5px;">
            <div class="col s12">
                <h5><b>Job Responsiblities</b></h5>
                <div class="divider"></div>
                <br><br>
                <div class="col s12 no-padd">
                        <li class="ui message">
                            Handling customer queries, feedback, complaints and requests and resolve, Manage end-to-end email, 
                        </li>
                        <li class="ui message">
                                Day to day process work with respect to coordination between different departments, 
    
                        </li>
                        <li class="ui message">
    
                            ttTrack each step on CRM and OTRS and where work is struck or if there is any deviation, communicates status to process owner
                        </li>
                        <li class="ui message">
    
                            Work experience in a fast paced work environment (e-commerce preferred)
                        </li>
                        <li class="ui message">
    
                            Responsible for Database management using Advance excel, filter functions & formulas, Pivot Table & charts, Importing & exporting data, Validating & analysis, Collating data from different locations.
                        </li>
                        <li class="ui message">
    
                            Responsible for Monthly & daily report making, preparing & managing data.
                        </li>
                        <li class="ui message">
                            Data Management, Preparing daily reports, Sales Team co-ordinations, Excellent Communication skills (Written & Oral English)
    
                        </li>
                        <br>
                    </div>
            </div>
            <div class="col s12" style="height:50px;"></div>
        </div>
    </div>
     <!-- FOOTER START -->
     <div id="myfooter">
    </div>
    <!-- FOOTER END -->

   
    
    

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../js/myfooter.js"></script>
<script src="../js/userprofile.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
      M.AutoInit();
  });
</script>
</body>

</html>