<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About JL Test - All you need to know about this innovative assessment test.</title>
    <Meta name="description" content="JL Test(JobLana Test) is India's fastest Employability Assessment Test conducted by JobLana in most of metro cities in india and is recognised by over 500 companies.">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/label.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TGKGPG3');
    </script>
    <!-- End Google Tag Manager -->
    <style>
        input:not([type]),
        input[type=text]:not(.browser-default),
        textarea,
        textarea:not(.browser-default) {
            border: 1px solid #eee;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0px 0px 0px 10px;
            background-color: transparent;
            box-shadow: 0px
        }

        input:not([type]):focus:not([readonly]),
        input[type=text]:not(.browser-default):focus:not([readonly]) {
            border: 1px solid #2962ff;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        input::-webkit-input-placeholder {
            color: grey;
        }

        .no-padd {
            padding: 0px !important;
        }
    </style>
</head>

<body class="grey lighten-4">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <div id="navigationbar">
    </div>
    <!-- NAVIGATION BAR END -->

    <div class="row" style="height:30px;"></div>
    <!-- HEADER START -->
    <div class="row white-text blue darken-4">
        <div class="col l6 offset-l1 s12">
            <div class="row" style="height:50px;"></div>
            <h4>
                <b>JL Test</b>
            </h4>

            <div class="row" style="height:50px;"></div>
        </div>
    </div>
    <!-- HEADER END -->

    <!-- JOB DETAILS PANEL START -->
    <div class="row">
        <div class="row" style="height:50px;"></div>
        <div class="col s12">
            <div class="col l10 offset-l1 s12 card no-padd z-depth-0">
                <div class="grey-text text-darken-2" style="padding:20px 20px 10px 20px;">
                    What is JL Test?
                </div>
                <div class="divider"></div>

                <div class="col s12">
                    <br>
                    <div style="font-size:1.5em;">
                        -JL Test(JobLana Test) is India's Largest Employability Assessment Test conducted by JobLana in most of metro cities in india
                        and is recognised by over 500 companies.JL Test is a platform where job-seekers have access to hundreds
                        of recruiters from across the country, based on a completely objective and standardized score, dramatically
                        improving their chances of getting their dream job, with much less effort.
                    </div>
                    <br>
                    <div style="font-size:1.5em;">
                        JL Test is pen and paper based exam of 2 hours duration in which applicant have to solve 100 questions. These questions are
                        divided in 4 Sections(Logical Reasoning, English Proficiency, Quantitative Aptitude, Domain Test
                        for specific roles). Each section have 25 questions and all questions are of equal marks. Maximum
                        marks in JL Test is 800.
                    </div>
                    <br>
                    <div style="font-size:1.5em;">
                        Applicants have to pay one time fees of amount 900INR for appearing for JL Test. Within 1 week of JL Test, Result will be
                        declared on applicants profile. After that, it will take about 6-7 working days to get interview
                        calls. Minimum qualification is 10+2 to appear for JL Test. Companies have vacancies for every profile
                        whether you are 12th pass student, graduate , post-graduate or Phd scholar. Those who are willing
                        to change their jobs can appear for exam and get interview calls from startups and MNCs.
                    </div>
                    <br>
                    <br>
                    <div class="row" style="height:20px;"></div>
                    <div class="grey-text text-darken-2" style="padding:20px 20px 10px 20px;">
                        SYLLABUS
                    </div>
                    <div class="divider"></div>
                    <br>
                    <div style="font-size:1em;">
                        <h5>
                            <b>1- English Proficiency</b>
                        </h5>
                        This section is aimed to determine the applicant's ability to understand the written sentences and paragraphs. This section's
                        score will be helpful for getting jobs in content writing sector.
                        <ul>
                            <li>Reading Comprehension</li>
                            <li>Cloze Test</li>
                            <li>Para jumbles</li>
                            <li>Fill in the blanks</li>
                            <li>Multiple Meaning /Error Spotting</li>
                            <li>Paragraph Completion</li>
                            <li>Miscellaneous</li>
                            <li>Vocabulary(Synonyms/Antonyms)</li>
                        </ul>
                    </div>
                    <br>
                    <div style="font-size:1em;">
                        <h5>
                            <b>2- Logical Reasoning</b>
                        </h5>
                        This section tests your decision-making ability and speed using limited input. Needless to say, that practice is the key
                        to crack this section. But it is also important to prepare while keeping an eye on the watch.
                        <ul>
                            <li>Alphanumeric Series</li>
                            <li>Ranking/Direction/Alphabet Test</li>
                            <li>Data Sufficiency</li>
                            <li>Input Output</li>
                            <li>Blood Relations</li>
                            <li>Syllogism</li>
                            <li>Tabulation</li>
                            <li>Coding Decoding</li>
                            <li>Coded Inequalities</li>
                            <li>Seating Arrangement</li>
                            <li>Puzzle</li>

                        </ul>
                    </div>
                    <br>
                    <div style="font-size:1em;">
                        <h5>
                            <b>3- Quantitative Aptitude</b>
                        </h5>
                        This section is necessary for every companies recruitment to evaluate the numerical ability of candidate. Scoring in this
                        section is not hard but candidate should have clear concepts and knowledge about tricks.

                        <ul>
                            <li> Simplification</li>
                            <li>Mixtures &Alligations</li>
                            <li>Work & Time</li>
                            <li>Profit & Loss</li>
                            <li>Simple Interest & Compound Interest</li>
                            <li>Mensuration – Cylinder, Cone, Sphere</li>
                            <li>Time & Distance</li>
                            <li>Data Interpretation</li>
                            <li>Ratio & Proportion, Percentage</li>
                            <li>Sequence & Series</li>
                            <li>Number Systems</li>
                            <li>Permutation, Combination &Probability</li>
                        </ul>
                    </div>
                    <br>
                    <div style="font-size:1em;">
                        <h5>
                            <b>4- Domain Test for specific roles</b>
                        </h5>
                        This section is asked to review the candidate's knowledge in specific job fields for which applicant is applying.
                        <ul>
                            <h6>
                                <b>Sales and marketing job roles</b>
                            </h6>
                            Sales strategies
                            <br> Growth Hacking plans
                            <br> Marketing Strategies and Plans
                            <br> Fields of Marketing
                            <br> Consumer behavior
                            <br> Marketing Mix
                            <br> Advertising
                            <br> Media Planning
                            <br> Promotion Tools
                            <br> Distribution
                            <br> Product Strategy and Product Line Decisions
                            <br> Product Life Cycle
                            <br> Pricing Decisions
                            <br>

                        </ul>
                        <ul>
                            <h6>
                                <b>HR Roles-</b>
                            </h6>
                            Resource and Layout planning
                            <br> quality improvement
                            <br> Statistical Quality Control
                            <br> Control Chart
                            <br> Selling and Purchasing
                            <br> Warehousing
                            <br> Process selection and Project planning
                            <br> Process management
                            <br>
                        </ul>
                        <ul>
                            <h6>
                                <b>Operations</b>
                            </h6>
                            Resource and Layout planning
                            <br> quality improvement
                            <br> Statistical Quality Control
                            <br> Control Chart
                            <br> Selling and Purchasing
                            <br> Warehousing
                            <br> Process selection and Project planning
                            <br> Process management
                            <br>
                        </ul>
                        <ul>
                            <h6>
                                <b>Office Support</b>
                            </h6>
                            Basics of computer
                            <br> Office organization
                            <br> Organization Structure
                            <br> Introduction to corporate world
                            <br> Reservations
                            <br> selling techniques
                            <br> Behavioral management
                            <br>
                        </ul>
                        <ul>
                            <h6>
                                <b>IT Job roles</b>
                            </h6>
                            Data Structures (Arrays, Linked Lists, Trees, Graphs
                            <br> Stacks, Queues
                            <br> Hash Tables
                            <br> Heaps
                            <br> Searching and Sorting )
                            <br> Basics of OS and Computer Architecture
                            <br> DBMS
                            <br> Data model
                            <br> Relational Algebra and SQL
                            <br> Basic Programming
                            <br> Data Types
                            <br> Iteration, Recursion, Decision
                            <br> Procedure, functions and scope
                            <br>
                        </ul>
                        <ul>
                            <h6>
                                <b>Calling </b>
                            </h6>
                            Basics of BPO and KPO
                            <br> Situation Handling
                            <br> Organization clients
                            <br> MS- EXCEL
                            <br> Outsourcing
                            <br> inbound/outbound
                            <br>

                        </ul>
                        <ul>
                            <h6>
                                <b>Digital Marketing Jobs</b>
                            </h6>
                            Digital marketing basics
                            <br> SEO
                            <br> SEM
                            <br> google adwords and keywords
                            <br> social media and content marketing
                            <br> email marketing
                            <br> Growth hacking technology
                            <br>

                        </ul>
                        <ul>
                            <h6>
                                <b>Accounting</b>
                            </h6>
                            Financial Reporting
                            <br> Assets and Liabilities
                            <br> Cost Concepts
                            <br> Inventories
                            <br> Journalizing and Posting
                            <br> Subsidiary Books & Accounts
                            <br> Financial Statements Basics
                            <br> Balance Sheet
                            <br> Income Statement and Cash Flow
                            <br> Financial Ratios
                            <br>
                        </ul>
                    </div>
                    <br>
                </div>

            </div>
        </div>
        <div class="row" style="height:50px;"></div>

    </div>
    <!-- JOB DETAILS PANEL END -->

    <!-- FOOTER START -->
    <div id="myfooter">

    </div>
    <!-- FOOTER END -->


    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/myfooter.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            M.AutoInit();
        });
    </script>
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
    <script>
        window.fcWidget.init({
            token: "4281856b-8aa2-4b5e-8108-4171813716e5",
            host: "https://wchat.freshchat.com"
        });
    </script>
</body>

</html>