<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAKE CV</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="../js/myfooter.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/label.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TGKGPG3');
    </script>
    <!-- End Google Tag Manager -->
    <style>
        input:not([type]),
        input[type=text]:not(.browser-default) {
            border: 1px solid #ccc;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0px 0px 0px 10px !important;
            background-color: transparent;
            box-shadow: 0px
        }
        
        input:not([type]):focus:not([readonly]),
        input[type=text]:not(.browser-default):focus:not([readonly]) {
            border: 1px solid #ccc;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        input::-webkit-input-placeholder {
            color: grey;
        }
        
        select {
            display: block !important;
        }
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <div id="navigationbar">

    </div>
    <!-- NAVIGATION BAR END -->
    <div class="row">

        <form class="col s10 offset-s1" action="/cvbuilder" method="post">
            <div class="col s12" style="height:100px;"></div>
            <h3 class="indigo-text">CV BUILDER</h3>
            <div class="card z-depth-0 col s12" style="padding:10px;">
                <div id="form1" class="card z-depth-0 col s12" style="padding:10px;">
                    <h5>
                        <b>PERSONAL DETAILS</b>
                    </h5>
                    <br>
                    <br>
                    <div class="input-field col s6">
                        <input placeholder="Full Name" type="text" name="fullname" id="fullname">
                    </div>

                    <div class="input-field col s6">
                        <input type="text" name="fathersname" id="ftrname" placeholder="Father Name">
                    </div>
                    <div class="input-field col s6">
                        <input class="datepicker" type="text" name="dob" id="dob" placeholder="Date Of Birth">
                    </div>
                    <!-- <div class="input-field col s6">
                        <input type="text" id="city" placeholder="City">
                    </div> -->
                    <div class="input-field col s6">
                        <input type="text" name="aadharno" id="aadharno" placeholder="Aadhar No">
                    </div>
                    <div class="input-field col s6">
                        <div class="col s4">
                            <label>
                                <input name="gender" value="male" type="radio" checked />
                                <span>Male</span>
                            </label>
                        </div>
                        <div class="col s4">
                            <label>
                                <input name="gender" value="female" type="radio" />
                                <span>Female</span>
                            </label>
                        </div>

                    </div>


                    <div class="input-field col s6 offset-s6">
                        <input class="btn btn-large indigo col s12" type="button" value="Next" id="step1">
                    </div>

                </div>
                <div id="form2" class="card z-depth-0 col s12" style="padding:10px;display:none;">
                    <h5>
                        <b>ADDRESS DETAILS</b>
                    </h5>
                    <br>
                    <br>
                    <div class="input-field col s6">
                        <input placeholder="Full Address" type="text" name="fulladdress" id="fulladdress">
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="city" id="ftrname" placeholder="City">
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="state" id="state" placeholder="State">
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="zipcode" id="zipcode" placeholder="Zip Code">
                    </div>
                    <div class="input-field col s6">
                        <input class="btn btn-large indigo col s12" type="button" value="Back" id="back1">
                    </div>
                    <div class="input-field col s6">
                        <input class="btn btn-large indigo col s12" type="button" value="Next" id="step2">
                    </div>

                </div>
                <div id="form3" class="card z-depth-0 col s12" style="padding:10px;display:none;">
                    <h5>
                        <b>EDUCATION DETAILS</b>
                    </h5>
                    <br>
                    <div class="ui label">10TH</div>
                    <br>
                    <div class="input-field col s3">
                        <input id="school10" type="text" name="school10" placeholder="School Name">
                    </div>
                    <div class="input-field col s3">
                        <input id="board10" type="text" name="board10" placeholder="School Board">
                    </div>
                    <div class="input-field col s3">
                        <input id="board10" type="text" name="course10" placeholder="Course">
                    </div>
                    <div class="input-field col s3">
                        <input id="marks10" type="text" name="marks10" placeholder="Marks in % / CGPA">
                    </div>


                    <div class="ui label">12TH</div>
                    <br>
                    <div class="input-field col s3">
                        <input id="school12" type="text" name="school12" placeholder="School Name">
                    </div>
                    <div class="input-field col s3">
                        <input id="board12" type="text" name="board12" placeholder="School Board">
                    </div>
                    <div class="input-field col s3">
                        <input id="board10" type="text" name="course12" placeholder="Course">
                    </div>
                    <div class="input-field col s3">
                        <input id="marks12" type="text" name="marks12" placeholder="Marks in % / CGPA">
                    </div>

                    <div class="ui label">GRADUATION</div>
                    <br>
                    <div class="input-field col s3">
                        <input id="collegename" type="text" name="collegename" placeholder="Collage Name">
                    </div>
                    <div class="input-field col s3">
                        <input id="collegeboard" type="text" name="collegeboard" placeholder="Collage Board">
                    </div>
                    <div class="input-field col s3">
                        <select class="no-autoinit" name="clgcourse">
                            <option value="" disabled selected>Choose your course</option>
                            <option value="Bachelor of Arts (B.A)">Bachelor of Arts (B.A)</option>
                            <option value="Bachelor of Education ( B.Ed)">Bachelor of Education ( B.Ed)</option>
                            <option value="Bachelor of Law (B.L,LLB) ">Bachelor of Law (B.L,LLB) </option>
                            <option value="Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S)">Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S) </option>
                            <option value="Bachelor of Architecture (B.Arch) ">Bachelor of Architecture (B.Arch) </option>
                            <option value="Bachelor of Business Administration (B.B.A)">Bachelor of Business Administration (B.B.A) </option>
                            <option value="Bachelor of Business Management (B.B.M) ">Bachelor of Business Management (B.B.M) </option>
                            <option value="Bachelor of Computer Applications (B.C.A) ">Bachelor of Computer Applications (B.C.A) </option>
                            <option value="Bachelor of Commerce (B.Com) ">Bachelor of Commerce (B.Com) </option>
                            <option value="Bachelor of Dental Surgery (B.D.S) ">Bachelor of Dental Surgery (B.D.S) </option>
                            <option value="Bachelor of Engineering (B.E) ">Bachelor of Engineering (B.E) </option>
                            <option value="Bachelor of Education (B.Ed) ">Bachelor of Education (B.Ed) </option>
                            <option value="Bachelor of Fashion Technology (B.F.Tech) ">Bachelor of Fashion Technology (B.F.Tech) </option>
                            <option value="Bachelor of Hotel Management (B.H.M) ">Bachelor of Hotel Management (B.H.M) </option>
                            <option value="Bachelor of Homeopathic Medicine & Surgery (B.H.M.S) ">Bachelor of Homeopathic Medicine & Surgery (B.H.M.S) </option>
                            <option value="Bachelor of Literature (B.Lit) ">Bachelor of Literature (B.Lit) </option>
                            <option value="Bachelor of Pharmacy (B.Pharma) "> Bachelor of Pharmacy (B.Pharma) </option>
                            <option value="Bachelor of Science (B.Sc) "> Bachelor of Science (B.Sc) </option>
                            <option value="Bachelor of Science "> Bachelor of Science </option>
                            <option value="Bachelor of Education (B.Sc.B.Ed)"> Bachelor of Education (B.Sc.B.Ed) </option>
                            <option value="Bachelor of Tourism Administration (B.T.A)"> Bachelor of Tourism Administration (B.T.A) </option>
                            <option value="Basic Training Certificate (B.T.C) "> Basic Training Certificate (B.T.C) </option>
                            <option value="Bachelor of Technology (B.Tech) "> Bachelor of Technology (B.Tech) </option>
                            <option value="Bachelor of Medicine"> Bachelor of Medicine </option>
                            <option value="Bachelor of Surgery (M.B.B.S)"> Bachelor of Surgery (M.B.B.S) </option>
                            <option value="Doctor of Philosophy (Ph. D)"> Doctor of Philosophy (Ph. D) </option>
                            <option value="Master of Arts (M.A)"> Master of Arts (M.A) </option>
                            <option value="Master of Architecture (M.Arch)"> Master of Architecture (M.Arch) </option>
                            <option value="Master of Business Administration (M.B.A)"> Master of Business Administration (M.B.A) </option>
                            <option value="Master of Computer Applications (M.C.A)"> Master of Computer Applications (M.C.A) </option>
                            <option value="Master of Commerce (M.Com)"> Master of Commerce (M.Com) </option>
                            <option value="Doctor of Medicine (M.D)"> Doctor of Medicine (M.D) </option>
                            <option value="Master of Engineering (M.E)"> Master of Engineering (M.E) </option>
                            <option value="Master of Education (M.Ed)"> Master of Education (M.Ed) </option>
                            <option value="Master of Pharmacy (M.Pharma)"> Master of Pharmacy (M.Pharma) </option>
                            <option value="Master of Philosophy (M.Phil)"> Master of Philosophy (M.Phil) </option>
                            <option value="Master of Science (M.Sc)"> Master of Science (M.Sc) </option>
                            <option value="Master of Technology (M.Tech)"> Master of Technology (M.Tech) </option>
                            <option value="Post Graduate Diploma Management (PGDM)"> Post Graduate Diploma Management (PGDM) </option>
                            <option value="Post Graduate Program For Executives (PG EXP)"> Post Graduate Program For Executives (PG EXP) </option>
                            <option value="Post Graduate Program In Management (PGPM)">Post Graduate Program In Management (PGPM)</option>
                            <option value="Others">Others</option>

                        </select>
                    </div>
                    <div class="input-field col s3">
                        <input id="collegemarks" type="text" name="collegemarks" placeholder="Marks">
                    </div>

                    <div class="ui label">POST GRADUATION</div>
                    <br>
                    <div class="input-field col s3">
                        <input id="mcollegename" type="text" name="mcollegename" placeholder="Collage Name">
                    </div>
                    <div class="input-field col s3">
                        <input id="mcollegeboard" type="text" name="mcollegeboard" placeholder="Collage Board">
                    </div>
                    <div class="input-field col s3">
                        <select class="no-autoinit" name="mclgcourse">
                                <option value="" disabled selected>Choose your course</option>
                                <option value="Bachelor of Arts (B.A)">Bachelor of Arts (B.A)</option>
                                <option value="Bachelor of Education ( B.Ed)">Bachelor of Education ( B.Ed)</option>
                                <option value="Bachelor of Law (B.L,LLB) ">Bachelor of Law (B.L,LLB) </option>
                                <option value="Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S)">Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S) </option>
                                <option value="Bachelor of Architecture (B.Arch) ">Bachelor of Architecture (B.Arch) </option>
                                <option value="Bachelor of Business Administration (B.B.A)">Bachelor of Business Administration (B.B.A) </option>
                                <option value="Bachelor of Business Management (B.B.M) ">Bachelor of Business Management (B.B.M) </option>
                                <option value="Bachelor of Computer Applications (B.C.A) ">Bachelor of Computer Applications (B.C.A) </option>
                                <option value="Bachelor of Commerce (B.Com) ">Bachelor of Commerce (B.Com) </option>
                                <option value="Bachelor of Dental Surgery (B.D.S) ">Bachelor of Dental Surgery (B.D.S) </option>
                                <option value="Bachelor of Engineering (B.E) ">Bachelor of Engineering (B.E) </option>
                                <option value="Bachelor of Education (B.Ed) ">Bachelor of Education (B.Ed) </option>
                                <option value="Bachelor of Fashion Technology (B.F.Tech) ">Bachelor of Fashion Technology (B.F.Tech) </option>
                                <option value="Bachelor of Hotel Management (B.H.M) ">Bachelor of Hotel Management (B.H.M) </option>
                                <option value="Bachelor of Homeopathic Medicine & Surgery (B.H.M.S) ">Bachelor of Homeopathic Medicine & Surgery (B.H.M.S) </option>
                                <option value="Bachelor of Literature (B.Lit) ">Bachelor of Literature (B.Lit) </option>
                                <option value="Bachelor of Pharmacy (B.Pharma) "> Bachelor of Pharmacy (B.Pharma) </option>
                                <option value="Bachelor of Science (B.Sc) "> Bachelor of Science (B.Sc) </option>
                                <option value="Bachelor of Science "> Bachelor of Science </option>
                                <option value="Bachelor of Education (B.Sc.B.Ed)"> Bachelor of Education (B.Sc.B.Ed) </option>
                                <option value="Bachelor of Tourism Administration (B.T.A)"> Bachelor of Tourism Administration (B.T.A) </option>
                                <option value="Basic Training Certificate (B.T.C) "> Basic Training Certificate (B.T.C) </option>
                                <option value="Bachelor of Technology (B.Tech) "> Bachelor of Technology (B.Tech) </option>
                                <option value="Bachelor of Medicine"> Bachelor of Medicine </option>
                                <option value="Bachelor of Surgery (M.B.B.S)"> Bachelor of Surgery (M.B.B.S) </option>
                                <option value="Doctor of Philosophy (Ph. D)"> Doctor of Philosophy (Ph. D) </option>
                                <option value="Master of Arts (M.A)"> Master of Arts (M.A) </option>
                                <option value="Master of Architecture (M.Arch)"> Master of Architecture (M.Arch) </option>
                                <option value="Master of Business Administration (M.B.A)"> Master of Business Administration (M.B.A) </option>
                                <option value="Master of Computer Applications (M.C.A)"> Master of Computer Applications (M.C.A) </option>
                                <option value="Master of Commerce (M.Com)"> Master of Commerce (M.Com) </option>
                                <option value="Doctor of Medicine (M.D)"> Doctor of Medicine (M.D) </option>
                                <option value="Master of Engineering (M.E)"> Master of Engineering (M.E) </option>
                                <option value="Master of Education (M.Ed)"> Master of Education (M.Ed) </option>
                                <option value="Master of Pharmacy (M.Pharma)"> Master of Pharmacy (M.Pharma) </option>
                                <option value="Master of Philosophy (M.Phil)"> Master of Philosophy (M.Phil) </option>
                                <option value="Master of Science (M.Sc)"> Master of Science (M.Sc) </option>
                                <option value="Master of Technology (M.Tech)"> Master of Technology (M.Tech) </option>
                                <option value="Post Graduate Diploma Management (PGDM)"> Post Graduate Diploma Management (PGDM) </option>
                                <option value="Post Graduate Program For Executives (PG EXP)"> Post Graduate Program For Executives (PG EXP) </option>
                                <option value="Post Graduate Program In Management (PGPM)">Post Graduate Program In Management (PGPM)</option>
                                <option value="Others">Others</option>
    
                            </select>
                    </div>
                    <div class="input-field col s3">
                        <input id="mcollegemarks" type="text" name="mcollegemarks" placeholder="Marks">
                    </div>

                    <div class="input-field col s6">
                        <input class="btn btn-large indigo col s12" type="button" value="Back" id="back2">
                    </div>
                    <div class="input-field col s6">
                        <input class="btn btn-large indigo col s12" type="button" value="Next" id="step3">
                    </div>
                </div>
                <div id="form4" class="card z-depth-0 col s12" style="padding:10px;display:none;">
                    <h5>
                        <b>PROJECTS/INTERNSHIPS/JOBS</b>
                    </h5>
                    <br>
                    <div id="jobspanel">
                        <div class="col s12">
                            <div class="input-field col s2">
                                <select class="no-autoinit" name="projecttype[]">
                                    <option value="" disabled selected>Choose your course</option>
                                    <option value="internship"  selected>Internship</option>
                                    <option value="job"  selected>Job</option>
                                    <option value="projects"  selected>Project</option>
                                </select>
                            </div>
                            <div class="input-field col s2">
                                <input type="text" name="projectrole[]" id="projects" placeholder="title/role">
                            </div>
                            <div class="input-field col s2">
                                <input type="text" name="projectinstitute[]" id="projects" placeholder="institute/organization">
                            </div>
                            <div class="input-field col s2">
                                <input type="text" name="projectdetails[]" id="projects" placeholder="About work">
                            </div>
                            <div class="input-field col s3">
                                <input class="datepicker col s5" type="text" name="projectstartdate" id="startdate" placeholder="Start Date">
                                <input class="datepicker col s5" type="text" name="projectenddate" id="enddate" placeholder="End Date">
                            </div>
                            <div class="input-field col s1">
                                <input id="addmorejobs" type="button" class="ui button mini white-text blue accent-4" value="Add More">
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                    </div>
                    <div class="input-field col s6">
                        <input class="btn btn-large indigo col s12" type="button" value="Back" id="back3">
                    </div>
                    <div class="input-field col s6">
                        <input class="btn btn-large indigo col s12" type="button" value="Next" id="step4">
                    </div>

                </div>
                <div id="form5" class="card z-depth-0 col s12" style="padding:10px;display:none;">
                    <h5>
                        <b>SKILL</b>
                    </h5>
                    <br>
                    <div id="skillspanel">
                        <div class="col s12">
                            <div class="input-field col s10">
                                <input type="text" name="skills[]" placeholder="Enter Your Skills">
                            </div>
                            <div class="input-field col s2">
                                <input id="addmoreskills" type="button" class="ui button white-text mini blue accent-4" value="Add More">
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <input class="btn btn-large indigo col s12" type="button" value="Back" id="back4">
                    </div>
                    <div class="input-field col s6">
                        <input class="btn btn-large indigo col s12" type="button" value="Next" id="step5">
                    </div>
                </div>
                <br>
                <br>
                <div id="fulldetials" class="col s12 no-padd" style="padding:10px;display:none;">
                    <div class="card z-depth-0 col s12" style="padding:10px;">
                        <h5>
                            <b>JOB EXPECTATIONS</b>
                        </h5>
                        <br>

                        <div class="input-field col s6">
                            <input type="text" name="plocation" placeholder="Enter Preferred city">
                        </div>
                        <div class="input-field col s6">
                            <input class="datepicker" type="text" name="pdate" placeholder="Available to join">
                        </div>


                    </div>
                    <div class="input-field col s12">

                        <center>
                            <input class="btn btn-large indigo" type="button" value="Back" id="back5">
                            <input class="btn btn-large light-blue accent-4" type="submit" value="Make CV">
                        </center>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- FOOTER START -->
    <div id="myfooter">
    </div>
    <!-- FOOTER END -->
    <!-- Compiled and minified JavaScript -->
    <script src="../js/stepform.js"></script>
    <script src="../js/addmoreskills.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            M.AutoInit();
            $('body').on('focus', ".datepicker", function() {
                $(this).datepicker();
            });
            $('body').on('focus', "select", function() {
                M.AutoInit();
            });

            //$(document).on('click','.datapicker',M.datepicker);
        });
        $('select').on('contentChanged', function() {
            $(this).material_select();
        });
    </script>
</body>

</html>