<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAKE CV</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/label.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <style>
        /* input:not([type]), input[type=text]:not(.browser-default){
    
            border: none;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0;
            background-color: transparent;
            box-shadow:0px
        }
        input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]){
            border-bottom:none;
            -webkit-box-shadow:none;
            box-shadow:none;
        }
        input::-webkit-input-placeholder{
            color: #eee;
        }        */
    </style>
</head>

<body>
    <!-- NAVIGATION BAR START -->
    <div id="navigationbar">

    </div>
    <!-- NAVIGATION BAR END -->
    <div class="row">

        <form class="col s8 offset-s2" action="/cvbuilder" method="post">
            <div class="col s12" style="height:100px;"></div>
            <h3 class="indigo-text">CV BUILDER</h3>
            <div class="card z-depth-0 col s12" style="padding:10px;">
                <div id="form1" class="card z-depth-2 col s8 offset-s2" style="padding:10px;">
                    <h5>
                        <b>PERSONAL DETAILS</b>
                    </h5>
                    <br>
                    <br>
                    <div class="input-field col s6">
                        <input type="text" name="fullname" id="fullname">
                        <label for="fullname">Full Name</label>
                    </div>
                    
                    <div class="input-field col s6">
                        <input type="text" name="fathersname">
                        <label for="fathersname">Father Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="dob" id="dob">
                        <label for="dob">DOB</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="city" id="city">
                        <label for="city">City</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="aadharno" id="aadharno">
                        <label for="aadharno">Aadhar No</label>
                    </div>
                    <div class="input-field col s6">
                        <input class="btn btn-large indigo col s12" type="button" value="Next" id="step1">
                    </div>
                    
                </div>
                <div id="form2" class="card z-depth-2 col s8 offset-s2" style="padding:10px;display:none;">
                    <h5>
                        <b>EDUCATION DETAILS</b>
                    </h5><br>
                    <div class="ui label">10TH</div><br>
                    <div class="input-field col s4">
                        <input id="school10" type="text" name="school10">
                        <label for="school10">School Name</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="board10" type="text" name="board10">
                        <label for="board10">School Board</label>
                        </div>
                    <div class="input-field col s4">
                        <input id="marks10" type="text" name="marks10">
                        <label for="marks10">Marks in % / CGPA</label>
                    </div>
                    

                    <div class="ui label">12TH</div><br>
                    <div class="input-field col s4">
                        <input id="school12" type="text" name="school12">
                        <label for="school12">School Name</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="board12" type="text" name="board12">
                        <label for="board12">School Board</label>
                        </div>
                    <div class="input-field col s4">
                        <input id="marks12" type="text" name="marks12">
                        <label for="marks12">Marks in % / CGPA</label>
                    </div>

                    <div class="ui label">GRADUATION</div><br>
                    <div class="input-field col s4">
                        <input id="school10" type="text" name="collegename">
                        <label for="school10">Collage Name</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="board10" type="text" name="collegeboard">
                        <label for="board10">Collage Board</label>
                        </div>
                    <div class="input-field col s4">
                        <input id="marks10" type="text" name="collegemarks">
                        <label for="marks10">Marks in % / CGPA</label>
                    </div>
                    <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Back" id="back1">
                        </div>
                    <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Next" id="step2">
                        </div>
                </div>
                <div id="form3" class="card z-depth-2 col s8 offset-s2" style="padding:10px;display:none;">
                    <h5><b>PROJECTS/INTERNSHIPS/JOBS</b></h5>
                    <br>
                    <div id="jobspanel">
                        
                        <div class="input-field col s12">
                            <input type="text" name="projects[]" id="projects">
                            <label for="projects">Project/Internship/Job</label>
                        </div>
                    </div>
                    <div class="col s12">
                        <input type="button" class="btn btn-small blue accent-4" value="Add More">
                    </div>
                    <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Back" id="back2">
                        </div>
                    <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Next" id="step3">
                        </div>

                </div>
                <div id="form4" class="card z-depth-2 col s8 offset-s2" style="padding:10px;display:none;">
                        <h5><b>PROJECTS/INTERNSHIPS/JOBS</b></h5>
                        <br>
                        <div id="skillspanel">
                            
                            <div class="input-field col s12">
                                <input type="text" name="skills[]" id="skills">
                                <label for="skills">Skills</label>
                            </div>
                        </div>
                        <div class="col s12">
                            <input type="button" class="btn btn-small blue accent-4" value="Add More">
                        </div>
                        <div class="input-field col s6">
                                <input class="btn btn-large indigo col s12" type="button" value="Back" id="back3">
                            </div>
                        <div class="input-field col s6">
                                <input class="btn btn-large indigo col s12" type="button" value="Next" id="step4">
                            </div>
                </div>
                <div id="form5" class="card z-depth-2 col s8 offset-s2" style="padding:10px;display:none;">
                    <h5><b>Careers</b></h5>
                    <br>
                    <div class="input-field col s12">
                        <textarea  name="carObj" id="carObj" class="materialize-textarea"></textarea>
                        <label for="carObj">Career objective</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="why"  name="why" class="materialize-textarea"></textarea>
                        <label for="why">Why should we hire you</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="point" name="point" class="materialize-textarea"></textarea>
                        <label for="point">Any information about you</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" id="when" name="whenjoin" class="datepicker" />
                        <label for="when">From when you are willing to join the company</label>

                    </div>
                    <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Back" id="back4">
                        </div>
                    <div class="input-field col s6">
                            <input class="btn btn-large indigo col s12" type="button" value="Next" id="step5">
                        </div>
                </div>
                <br>
                <br>
                <div class="col s12">
                        <div class="input-field col s6 offset-s6">
                                <input class="btn btn-large indigo" type="button" value="Back" id="back5">
                                <input class="btn btn-large light-blue accent-4" type="submit" value="Make CV">
                            </div>
                        <div class="input-field col s6">
                            </div>
                        
                </div>
            </div>
        </form>
    </div>
    <!-- FOOTER START -->
    <div id="myfooter">
    </div>
    <!-- FOOTER END -->
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/myfooter.js"></script>
    <script src="../js/stepform.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            M.AutoInit();
        });
    </script>
</body>

</html>