<!-- NAVIGATION BAR START -->
<style>
    ul li>a {
        box-shadow: 0px 0px 0px 0px #fff !important;
    }
    
    ul li>a:hover {
        background-color: transparent !important;
        color: white !important;
        box-shadow: 0px 0px 0px 2px #fff !important;
    }
</style>
<div class="navbar-fixed " style="position: fixed;top:0px;">
    <nav class="blue accent-4 z-depth-0">
        <div class="nav-wrapper container">

            <a href="/" class="brand-logo">
                <b style="font-size:1em">JOBLANA</b>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a class="btn white blue-text z-depth-0" style="border-radius:3px;" href="/dashboard"><b>Dashboard</b></a>
                </li>
                <li>
                    <a class="btn white blue-text z-depth-0" style="border-radius:3px;" href="/schedule"><b>Upcoming tests</b></a>
                </li>
                <li>
                    <a class="btn white blue-text z-depth-0" style="border-radius:3px;" href="/jobs"><b>Job Opportunities</b></a>
                </li>
                <li>
                    <a class="btn light-blue white-text z-depth-0" style="border-radius:3px;" href="/logout"><b>Logout</b></a>
                </li>
            </ul>

        </div>
    </nav>
</div>
<!-- NAVIGATION BAR END -->