<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JOBLANA</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/label.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TGKGPG3');
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/myfooter.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!-- End Google Tag Manager -->
    <style>
        input:not([type]),
        input[type=text]:not(.browser-default),
        textarea,
        textarea:not(.browser-default) {
            border:1px solid #eee;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0px 0px 0px 10px;
            background-color: transparent;
            box-shadow: 0px
        }

        input:not([type]):focus:not([readonly]),
        input[type=text]:not(.browser-default):focus:not([readonly]){
            border:1px solid #2962ff;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        input::-webkit-input-placeholder {
            color: grey;
        }

        .no-padd {
            padding: 0px !important;
        }
    </style>
</head>

<body class="grey lighten-4">
<!-- Google Tag Manager (noscript) -->
<noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- NAVIGATION BAR START -->
    <div id="navigationbar">
    </div>
    <!-- NAVIGATION BAR END -->

    <div class="row" style="height:40px;"></div> 

    <!-- TEST SCHEDULE DETAILS PANEL START -->
    <div class="row">
        <div class="row" style="height:50px;"></div>
        <div class="col s10 offset-s1">
            <div class="col s12">
                <h5 class="grey-text">UPCOMING TEST</h5>
            </div>
            <div class="col s12 card no-padd z-depth-0">
                <div class="grey-text text-darken-2" style="padding:20px 20px 10px 20px;">
                <span style="font-size:1.7em">Choose your Slot.</span>
            </div>
            <div class="divider"></div>
            <br>
            <div class="col s12">
                <div class="col s2 offset-s1">ALL TEST</div>
                <div class="col s2">DELHI</div>
                <div class="col s2">18/08/2018</div>
                <div class="col s3 offset-s2"><a href="/applytest/23556" class="btn blue accent-4 z-depth-0"><b>APPLY</b></a></div>
                <div class="row"></div>
            </div>
            <div class="col s12">
                <div class="col s2 offset-s1">ALL TEST</div>
                <div class="col s2">DELHI</div>
                <div class="col s2">18/08/2018</div>
                <div class="col s3 offset-s2"><a href="/applytest/23556" class="btn blue accent-4 z-depth-0"><b>APPLY</b></a></div>
                <div class="row"></div>
            </div>
            <div class="col s12">
                <div class="col s2 offset-s1">ALL TEST</div>
                <div class="col s2">DELHI</div>
                <div class="col s2">18/08/2018</div>
                <div class="col s3 offset-s2"><a href="/applytest/23556" class="btn blue accent-4 z-depth-0"><b>APPLY</b></a></div>
                <div class="row"></div>
            </div>
            <div class="row" style="height:50px;"></div>
            
            </div>
        </div>
       
        <div class="row" style="height:50px;"></div>

    </div>
    <!-- JOB DETAILS PANEL END -->
    
    <!-- FOOTER START -->
    <div id="myfooter">

    </div>
    <!-- FOOTER END -->


    <!-- Compiled and minified JavaScript -->
    
    <script>
        $(document).ready(function () {
            M.AutoInit();
        });
    </script>
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
    <script>
            window.fcWidget.init({
              token: "4281856b-8aa2-4b5e-8108-4171813716e5",
              host: "https://wchat.freshchat.com"
            });
          </script>
</body>

</html>