<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All about Sales and Marketing jobs -Roles & Responsibilities, latest Sales and Marketing jobs vacancy in india | JobLana</title>
    <meta name="description" content="Know all about Sales and Marketing jobs and find the latest Office Sector jobs vacancy in India that is suitable for you, Apply Now">
    <meta name="keyword" content="Assessment test, freshers jobs, aptitude test, recruitment company, job offers, test for jobs, cv , resume, IT jobs, sales & marketing jobs, BPO jobs , accounting jobs , digital marketing jobs, operation jobs, HR jobs, office support jobs, freshers jobs after 12th ,  freshers jobs after bba,  freshers jobs after bca,  freshers jobs after graduation,  freshers jobs after btech,  freshers jobs after b.com,  freshers jobs after m.com, best assessment test,  freshers jobs in Delhi, freshers jobs in Banglore, freshers jobs in mumbai, freshers jobs in Ahmedabad, freshers jobs in chennai, freshers jobs in pune, cv for IT jobs , cv for sales job, cv for marking jobs ">

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/label.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TGKGPG3');
    </script>
    <!-- End Google Tag Manager -->
    <style>
        input:not([type]),
        input[type=text]:not(.browser-default) {
            border: none;
            outline: none;
            height: 3rem;
            width: 100%;
            font-size: 16px;
            margin: 0 0 8px 0;
            padding: 0;
            background-color: transparent;
            box-shadow: 0px
        }
        
        input:not([type]):focus:not([readonly]),
        input[type=text]:not(.browser-default):focus:not([readonly]) {
            border-bottom: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        input::-webkit-input-placeholder {
            color: #eee;
        }
        
        .no-padd {
            padding: 0px !important;
        }
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKGPG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <!-- NAVIGATION BAR START -->
    <div id="navigationbar"></div>
    <!-- NAVIGATION BAR END -->


    <div class="row" style="height:30px;"></div>
    <div class="row white-text blue darken-4">
        <div class="col s12">
                <div class="row" style="height:50px;"></div>
                <h1><b>ALL ABOUT SALES AND MARKITING JOBS IN INDIA</b></h1>
                <div class="row" style="height:50px;"></div>
                
            </div>
     </div>
        <div class="row" style="height:50px;"></div>
    <div class="row">
            <div class="col s8 offset-s2">
                    Almost anything can be sold through the sales model. The most important aspect of direct sales is that products can be transported to salespeople in various locations, and their inventories can be resupplied and orders fulfilled in an efficient manner.
                    Sales is about you the person and not accreditations. In fact, sales is often one of the higher paying jobs for people without a degree. Sales in stocks such as being a broker are the exception of the rule since it is much more complex
                    and regulated by the SEC. In marketing it doesn't matter from which branch you are . You should know how to do marketing that’s it .Marketers should always have some sort of sales experience and real marketing experience. In terms of career
                    you can become a billionaire by becoming expert infield of marketing and sales.There are so many opportunities of sales and marketing jobs in India. The demand of such people is very high because of more and more companies being setup
                    .
                </div>
    </div>

    <div class="row ">
        <div class="col s12 " style="height:50px;"></div>
        <div class="col l8 offset-l2 s12 card" style="border-radius:5px;">
            <div class="col s12">
                <h5><b>Roles and Responsiblities in Sales and Marketing job</b></h5>
                <div class="divider"></div>
                <br><br>
                <div class="col s12">
                    <li class="ui message">
                        Working and implementing new ideas and strategies
                    </li>
                    <li class="ui message">
                        coordinating with internal marketing
                    </li>
                    <li class="ui message">
                        monitoring performance of Action, managing campaigns on Online/Offline and making Report for both Overseeing and developing marketing campaign
                    </li>
                    <li class="ui message">
                        compiling and distributing financial and statistical information
                    </li>
                    <li class="ui message">
                        Meets marketing and sales financial objectives.
                    </li>
                    <li class="ui message">
                        preparing an annual budget and scheduling expenditures
                    </li>
                    <li class="ui message">
                        analyzing variances; initiating corrective actions.
                    </li>
                    <li class="ui message">
                        organising events and product exhibitions
                    </li>
                    <li class="ui message">
                        Improves product marketability and profitability by researching, identifying, and capitalizing on market opportunities, improving product packaging, coordinating new product development
                    </li>
                    <li class="ui message">
                        updating databases and using a customer relationship management (CRM) system
                    </li>
                </div>
            </div>
            <div class="col s12" style="height:50px;"></div>
        </div>
    </div>
    <!-- FOOTER START -->
    <div id="myfooter">
    </div>
    <!-- FOOTER END -->





    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/myfooter.js"></script>
    <script src="../js/userprofile.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            M.AutoInit();
        });
    </script>
</body>

</html>